<!DOCTYPE html>
<html lang="ru">
<head>

		<title>Example</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="HandheldFriendly" content="True">
		<meta name="format-detection" content="telephone=yes">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="stylesheet" type="text/css" href="css/style.css">

		{% include 'connect/script.html' %}
		{% include 'connect/stylesheet.html' %}
				
</head>
