.footer {
	border-radius: 4px 4px 0 0;
	background-color: $dark-grey-blue;
	box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.1);
	padding: 40px 0;
	position: relative;
	z-index: 1;

	&__logo {
		display: inline-block;
		vertical-align: middle;
		margin-right: 35px;
	}

	&__copy {
		font-size: 14px;
		font-weight: 300;
		text-align: left;
		color: $white;
		display: inline-block;
		vertical-align: middle;
		margin-right: 70px;
	}

	@media (--tablet) {
		padding-bottom: 76px;
		padding-top: 46px;

		&__logo {
			float: left;
		}

		&__copy {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 28px;
			text-align: center;
			margin-right: 0;
		}
	}

	@media (--phone) {
		padding-bottom: 100px;
		padding-top: 44px;

		&__logo {
			display: block;
			text-align: center;
			margin: 0 0 25px;
		}

		&__copy {
			display: block;
			margin: 0 0 22px;
			text-align: center;
		}
	}	
}
