<div class="footer" id="js-footer">

	<div class="container">

		<div class="scroll-up" id="js-scroll-up">
			<div class="scroll-up__text">Наверх</div>
			<!-- /.scroll-up__text -->
		</div>
		<!-- /.scroll-up -->	

		<div class="footer-social">
			<a href="#" class="footer-social__item">
				<span class="icon icon_facebook"></span>
			</a>
			<a href="#" class="footer-social__item">
				<span class="icon icon_twitter"></span>
			</a>
		</div>
		<!-- /.footer-social -->	

		<div class="footer__logo">
			<a href="#">
				<img src="img/footer-logo.png">
			</a>
		</div>
		<!-- /.footer__logo -->

		<div class="footer__copy">&copy; 2017  Все права защищены</div>
		<!-- /.footer__copy -->

		<div class="footer-subscribe">
			<form action="#" class="footer-subscribe__form">
				<input type="email" class="footer-subscribe__input" placeholder="Подпишитесь на нашу рассылку">
				<input type="submit" value="" class="footer-subscribe__submit">
			</form>
			<!-- /.footer-subscribe__form -->
		</div>
		<!-- /.footer-subscribe -->

	</div>
	<!-- /.container -->

</div>
<!-- /.footer -->