.header {
	position: relative;
	padding: 16px 0;
	@include clearfix;
	@media (max-width: 1199px) {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		min-width: 320px;
		z-index: 5;
		background: #fff;

		&__panel {
			position: absolute;
			width: 42px;
			top: 36px;
			right: 25px;
			height: 24px;
			cursor: pointer;

			span {
				height: 2px;
				background: #322e57;
				position: absolute;
				top: 50%;
				margin-top: -1px;
				left: 0;
				width: 100%;

				&:after,
				&:before {
					height: 2px;
					background: #322e57;
					position: absolute;
					left: 0;
					width: 100%;
					content: '';
				}

				&:before {
					top: -10px;
				}

				&:after {
					bottom: -10px;
				}
			}
		}
	}
	@media (--phone) {
		position: fixed;
		left: 0;
		top: 0;
		height: 73px;
		width: 100%;
		background: #fff;

		&__panel {
			top: 27px;
			right: 15px;
		}
	}
}