<header class="header" id="js-header">
	<div class="container">

		<div class="header__panel js-slideout-toggle">
			<span></span>
		</div>
		<!-- /.header__panel -->

		<div class="header-info">
			<a href="#" data-ajax data-url="ajax/callback.html" class="header-info__callback">Консультация</a>
			<!-- /.header-info__callback -->
			<div class="header-info__field">
				<a href="tel:+74959552894" class="header-info__link header-info__link_phone">+7 495 955 28 94</a>
			</div>
			<!-- /.header-info__field -->
			<div class="header-info__field">
				<a href="mailto:email@acgroupp.ru" class="header-info__link header-info__link_email">email@acgroupp.ru</a>
			</div>
			<!-- /.header-info__field -->
		</div>
		<!-- /.header-info -->

		{% include 'logo/global/logo.html' %}

		<div id="js-menu-in">
			{% include 'menu/menu-header/menu-header.html' %}
		</div>
		<!-- /#js-menu-in -->

	</div>
</header>
