<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js"><\/script>')</script>

<script type="text/javascript" src="js/script.min.js"></script>
<script type="text/javascript" src="js/frontend-works.js"></script>
