<div class="menu-header" id="js-menu-header">
	<div class="menu-header__scroll">

		<nav class="menu-header__section">
			<ul class="menu-header__list">
				<li class="menu-header__item"><!-- active class -> active -->
					<a href="#" class="menu-header__link">О компании</a>
				</li>
				<li class="menu-header__item"><!-- active class -> active -->
					<a href="#" class="menu-header__link">Портфолио</a>

					<div class="menu-header-sub">
						<div class="menu-header-sub__inner">
							<ul class="menu-header-sub__list">
								<li class="menu-header-sub__item">
									<a href="#" class="menu-header-sub__link">Скачать презентацию</a>
								</li>
								<!-- /.menu-header-sub__item -->
								<li class="menu-header-sub__item">
									<a href="#" class="menu-header-sub__link">Смотреть кейсы</a>
								</li>
								<!-- /.menu-header-sub__item -->
							</ul>
							<!-- /.menu-header-sub__list -->
						</div>
						<!-- /.menu-header-sub__inner -->
					</div>
					<!-- /.menu-header-sub -->

				</li>
				<li class="menu-header__item"><!-- active class -> active -->
					<a href="#" class="menu-header__link">Услуги</a>

					<div class="menu-header-sub">
						<div class="menu-header-sub__inner">
							<ul class="menu-header-sub__list">
								<li class="menu-header-sub__item">
									<a href="#" class="menu-header-sub__link">Аудит</a>
								</li>
								<!-- /.menu-header-sub__item -->
								<li class="menu-header-sub__item">
									<a href="#" class="menu-header-sub__link">Налоговая практика</a>
								</li>
								<!-- /.menu-header-sub__item -->
								<li class="menu-header-sub__item">
									<a href="#" class="menu-header-sub__link">Коммерческая практика</a>
								</li>
								<!-- /.menu-header-sub__item -->
								<li class="menu-header-sub__item">
									<a href="#" class="menu-header-sub__link">Корпоративная практика</a>
								</li>
								<!-- /.menu-header-sub__item -->
								<li class="menu-header-sub__item">
									<a href="#" class="menu-header-sub__link">Трудовая практика</a>
								</li>
								<!-- /.menu-header-sub__item -->
								<li class="menu-header-sub__item">
									<a href="#" class="menu-header-sub__link">Бухгалтерский аутсорсинг</a>
								</li>
								<!-- /.menu-header-sub__item -->
							</ul>
							<!-- /.menu-header-sub__list -->
						</div>
						<!-- /.menu-header-sub__inner -->
					</div>
					<!-- /.menu-header-sub -->

				</li>
				<li class="menu-header__item"><!-- active class -> active -->
					<a href="#" class="menu-header__link">Новости</a>
				</li>
				<li class="menu-header__item"><!-- active class -> active -->
					<a href="#" class="menu-header__link">Контакты</a>
				</li>
			</ul>
			<div class="menu-header__lang">
				<a href="#" class="menu-header__lang-item active">RU</a>
				<span class="menu-header__lang-sep"></span>
				<a href="#" class="menu-header__lang-item">EN</a>
			</div>
			<!-- /.menu-header__lang -->
		</nav>

	</div>
	<!-- /.menu-header__scroll -->
</div>
<!--end menu-header-->
