.menu-header {
	padding-top: 20px;

	&__scroll {
	}

	&__section {
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	&__item {
		position: relative;
		display: inline-block;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

	}

	&__link {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.63;
		letter-spacing: 0.6px;
		text-align: left;
		color: $dark-grey-blue;
	}

	&__item.active &__link,
	&__link:hover {
		color: $lipstick-two;
		text-decoration: none;
	}

	&__lang {
		display: inline-block;
		margin-left: 42px;

		&-item {
			font-size: 14px;
			font-weight: 300;
			text-align: center;
			color: $dark-grey-blue;
			display: inline-block;

			&.active,
			&:hover {
				color: $lipstick-two;
			}

		}

		&-sep {
			width: 1px;
			height: 12px;
			background-color: rgb(166, 166, 166);
			display: inline-block;
			margin: 0 5px;
			position: relative;
			top: 2px;
		}

	}

	&__item:hover &-sub {
		display: block;
	}

	&-sub {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 10px;
		display: none;
		z-index: 3;

		&__inner {
			background-color: rgb(50, 45, 86);
			box-shadow: 0 7px 29px 0 rgba(49, 45, 86, 0.04);
			padding: 10px 0;
			position: relative;

			&:before {
				position: absolute;
				left: 50%;
				top: -7px;
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-bottom: 8px solid rgb(50, 45, 86);
				content: '';
				margin-left: -5px;
			}

		}

		&__list {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		&__item {
		}

		&__link {
			display: block;
			padding: 0 25px;
			font-size: 16px;
			font-weight: 300;
			line-height: 2.25;
			letter-spacing: 0.6px;
			text-align: left;
			color: $white;
			white-space: nowrap;
		}

		&__item.active &__link,
		&__link:hover {
			text-decoration: none;
			background-color: $lipstick-two;
		}

	}

	@media (max-width:1199px) {
		background: #322d56;
		padding: 35px 20px;
		min-height: 100vh;
		display: none;

		#js-menu-out & {
			display: block;
		}

		&__list {
			display: block;
		}

		&__item {
			margin-bottom: 40px;
			display: block;
			margin-right: 0;
		}

		&__link {
			font-size: 20px;
			line-height: 20px;
			color: #fff;
			text-transform: uppercase;
		}

		&__lang {
			margin-left: 0;
			font-size: 20px;

			&-item {
				font-size: 20px;
				color: #fff;
				opacity: 0.33;

				&.active,
				&:hover {
					opacity: 1;
					color: #fff;
				}

			}

			&-sep {
				height: 15px;
				top: 0;
				margin: 0 20px;
			}

		}

		&-sub {
			display: block;
			position: static;
			transform: translateX(0%);
			padding-top: 0;
			margin: 0 -20px;

			&__inner {
				padding-bottom: 0;
			}

			&__link {
				padding: 0 30px;
			}

		}

	}

}
