.checkbox {
	position: relative;
	display: inline-block;
	padding: 0 0 0 30px;
	line-height: 1;
	cursor: pointer;
	color: rgb(51, 51, 51);
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;

	&__input {
		visibility: hidden;
		position: absolute;
		left: 0;
		top: 0;
	}

	&__icon {
		position: absolute;
		left: 0;
		top: 2px;
		width: 16px;
		height: 16px;
		border-radius: 3px;
		border: 1px solid rgb(220, 220, 220);
		background-color: rgb(255, 255, 255);
	}

	&__input:checked ~ &__icon {
		background-color: rgb(0, 83, 167);
		border: 1px solid rgb(0, 83, 167);
	}

	&__text {
	}

}
