{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<div class="about-banner" style="background-image: url(img/1.jpg);">

					<div class="breadcrumbs">
						<a href="#" class="breadcrumbs__link">Главная</a>
						<span class="breadcrumbs__sep">/</span>
						<span class="breadcrumbs__text">О компании</span>
					</div>
					<!-- /.breadcrumbs -->

					<div class="container">
						<div class="about-banner__section">
							<div class="about-banner__title">
								ACGROUPP
							</div>
							<!-- /.about-banner__title -->
							<div class="about-banner__toptext">
								ООО «АудитКонсалтингГрупп» образовано в марте 2007 года командой профессиональных сотрудников, имеющих богатый опыт оказания услуг и ранее на протяжении многих лет работавших в различных крупных аудиторских и консалтинговых фирмах.
							</div>
							<!-- /.about-banner__toptext -->
							<div class="about-banner__line"></div>
							<div class="about-banner__bottomtext">
								<p>
									Компания осуществляет свою деятельность (аудит и сопутствующие услуги) в соответствии с требованиями Федерального закона№ 307-ФЗ «Об аудиторской деятельности», является членом саморегулируемой организации аудиторов НП «Институт профессиональных аудиторов» (СРОА НП «ИПАР») и внесена в Реестр аудиторов и аудиторских организаций за регистрационным № 10702016008.
								</p>
								<p>
									Сведения из контрольного экземпляра реестра аудиторов и аудиторских организаций саморегулируемых организаций аудиторов опубликованына официальном сайте Минфина России - <a href="#">http://www1.minfin.ru/ru/accounting/reestr_audit/infocontrol/</a>
								</p>
							</div>
						</div>
						<!-- /.about-banner__section -->
					</div>

				</div>
				<!-- /.about-banner -->

				<div class="about-info">
					<div class="about-info__title">
						Мы имеем возможность и положительный опыт по оказанию практически всего спектра аудиторских услуг, включая:
					</div>
					<div class="container">
						<div class="about-info__row">
							<div class="about-info__item">
								<div class="about-info__counter">1</div>
								<div class="about-info__desc">
									непосредственно проведение аудиторских проверок (обязательных и инициативных)
								</div>
							</div>
							<div class="about-info__item">
								<div class="about-info__counter">2</div>
								<div class="about-info__desc">
									аудит ФГУП (МУП) в соответствии с требованиями законодательства РФ
								</div>
							</div>
							<div class="about-info__item">
								<div class="about-info__counter">3</div>
								<div class="about-info__desc">
									сопутствующие аудиту услуги: обзорные проверки, выполнение согласованных процедур в отношении финансовой информации
								</div>
							</div>
							<div class="about-info__item">
								<div class="about-info__counter">4</div>
								<div class="about-info__desc">
									консультирование Клиентов по правовым, налоговым и бухгалтерским вопросам
								</div>
							</div>
							<div class="about-info__item">
								<div class="about-info__counter">5</div>
								<div class="about-info__desc">
									постановку, ведение бухгалтерского учета, подготовку и сдачу отчетности
								</div>
							</div>
							<div class="about-info__item">
								<div class="about-info__counter">6</div>
								<div class="about-info__desc">
									представление интересов Клиентовв государственных органах РФ
								</div>
							</div>
							<div class="about-info__item">
								<div class="about-info__counter">7</div>
								<div class="about-info__desc">
									представление интересов Клиентов в досудебном разрешении споров
								</div>
							</div>
							<div class="about-info__item">
								<div class="about-info__counter">8</div>
								<div class="about-info__desc">
									судебную защиту интересов Клиентов
								</div>
							</div>
						</div>
					</div>
				</div>

				<h1 class="title">ПАРТНЕРЫ</h1>
				<!-- /.title -->

				<div class="partners-list">
					<div class="partners-list__item">
						<a href="#" class="partners-list__link">
							<img src="{{src}}partners-list__pic.png" alt="" class="partners-list__pic">
							<!-- /.partners-list__pic -->
							<span class="partners-list__name">
								Давыдов Олег Александрович
							</span>
							<!-- /.partners-list__name -->
						</a>
						<!-- /.partners-list__link -->
					</div>
					<!-- /.partners-list__item -->
					<div class="partners-list__item">
						<a href="#" class="partners-list__link">
							<img src="{{src}}partners-list__pic.png" alt="" class="partners-list__pic">
							<!-- /.partners-list__pic -->
							<span class="partners-list__name">
								Ушакова Татьяна Олеговна
							</span>
							<!-- /.partners-list__name -->
						</a>
						<!-- /.partners-list__link -->
					</div>
					<!-- /.partners-list__item -->
				</div>
				<!-- /.partners-list -->

				<div class="about-text">
					<div class="container">

						<div class="about-text__toptext">
							Все сотрудники Компании являются членами СРОА НП «ИПАР», а Партнер Компании является членом Комитета по контролю качества ИПАР, что обеспечивает высокий уровень внутреннего контроля качества оказываемых нами услуг.
						</div>
						<div class="about-text__section">
							<p>
								В штате Компании работают аудиторы, юристы, экономисты, бухгалтеры и другие специалисты, в том числе имеющие квалификационные аттестаты по следующим направлениям: аудитор, налоговый консультант, внутренний аудитор, профессиональный бухгалтер, оценщик.
							</p>
							<p>
								Профессиональная (гражданская) ответственность Компании дополнительно застрахована в ЗАО САК «Информстрах», несмотря на то,что законодательством РФ не предусмотрено обязательного страхования ответственности аудиторов.
							</p>
							<p>
								Мы принимаем обязательство об ответственности по оказываемым услугам в порядке, определенном действующим законодательствомоб аудиторской деятельности и заключенным договором. Мы берем на себя обязательство по соблюдению коммерческой тайны Клиентов Компании.
							</p>
							<p>
								Мы обязательно уведомляем наших Клиентов, если нам стало известно, что область их интересов частично или полностью совпадаетс областью интересов потенциального Клиента, обратившегося к нам. При наличии прямого конфликта интересов это может послужить причиной отказа в сотрудничестве с нашей стороны.
							</p>
							<p>
								Привлекая нашу Компанию для решения задач в области аудиторских услуг, наши Клиенты получают гарантию полной конфиденциальности информации об их финансово-хозяйственной деятельности, в том числе и ее результатах, о бизнес-процессах, о конкурентных преимуществахи технологиях работы, а также иной информации, которая стала известна нам в процессе оказания услуг. Любые материалы, переданные намв процессе оказания услуг, а также устная информация, не выйдут не только за пределы Компании, но и не будут известны нашим сотрудникам,не принимавшим участие в проекте.
							</p>
							<p>
								В своей работе мы стремимся добиться качественного улучшения параметров деятельности Клиентов, постоянно совершенствуя уровеньи целевой характер наших услуг. Такой подход является для специалистов «АудитКонсалтингГрупп» важнейшим корпоративным принципом.
							</p>
							<p>
								Мы выражаем признательность всем нашим Партнерам и Клиентам, с которыми у нас сложились профессиональные и доверительные отношения! Мы открыты к сотрудничеству и будем рады оказаться Вам полезными!
							</p>
						</div>
						<!-- /.about-text__section -->

					</div>
					<!-- /.container -->
				</div>
				<!-- /.about-text -->

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
