{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<div class="banner-top">
					<picture>
						<source media="(max-width:768px)" srcset="img/img-bg@3x.jpg">
						<img src="img/banner-top-pic-2.jpg" alt="">
					</picture>
				</div>
				<!-- /.banner-top -->

				<div class="breadcrumbs">
					<a href="#" class="breadcrumbs__link">Главная</a>
					<span class="breadcrumbs__sep">/</span>
					<span class="breadcrumbs__text">Аудит</span>
				</div>
				<!-- /.breadcrumbs -->

				<div class="title">
					АУДИТ
				</div>

				<div class="container">

					<div class="audit">

						<div class="audit__toptext">
							Аудит - независимая проверка бухгалтерской (финансовой) отчетности аудируемого лица в целях выражения мненияо достоверности такой отчетности.
						</div>
						<h3>
							Общий аудит:
						</h3>
						<p>
							Обязательный и инициативный аудит бухгалтерской (финансовой) отчетности компаний и предприятий различных форм собственности, организационно-правовых форм, отраслевой принадлежности.
						</p>
						<p>
							Согласованные процедуры могут выполняться аудитором в отношении отдельных показателей финансовой информации (например, дебиторской или кредиторской задолженности, покупок у аффилированных лиц, объема продаж и прибыли подразделений лица, заключившего договор оказания сопутствующих аудиту услуг), одного из элементов финансовой (бухгалтерской) отчетности (например, бухгалтерского баланса) или финансовой (бухгалтерской) отчетности в целом.
						</p>
						<p>
							Цель выполнения согласованных процедур в отношении финансовой информации заключается в проведении аудитором процедур аудиторского характера, которые были согласованы между аудитором, лицом, заключившим договор оказания сопутствующих аудиту услуг, и третьим лицом, а также в предоставлении отчета о фактах, отмеченных при выполнении согласованных процедур в отношении финансовой информации.
						</p>
						<p>
							Поскольку аудитор лишь представляет отчет, он не выражает мнение о достоверности финансовой (бухгалтерской) отчетностии финансовой информации. Пользователи отчета сами дают оценку выполненным согласованным процедурам в отношении финансовой информации и фактам, указанным в отчете, а также делают собственные выводы, основанные на отчете.
						</p>
						<p>
							Результатом выполнения согласованных процедур является отчет, который предоставляется только тем сторонам, которые дали свое согласие на проведение указанных процедур, так как другие стороны, не знающие причин проведения этих процедур, могут неверно истолковать их результаты.
						</p>
						<h4>
							Обзорная проверка финансовой (бухгалтерской) отчетности:
						</h4>
						<p>
							Целью обзорной проверки финансовой (бухгалтерской) отчетности является предоставление аудитору возможности определить на основе процедур, которые предоставляют не все доказательства, требующиеся для аудита, не привлекло ли внимание аудитора что-либо, что заставило бы его предположить, что финансовая (бухгалтерская) отчетность не была составлена во всех существенных отношениях в соответствии с установленными требованиями к ее составлению. Обзорная проверка финансовой или другой информации, составленной в соответствии с надлежащими критериями, проводится для тех же целей.
						</p>
						<p>
							Обзорная проверка включает в себя в основном запросы и аналитические процедуры, направленные на общую проверку надежности предпосылок составления финансовой (бухгалтерской) отчетности, за которые отвечает сторона, составляющая отчетность, и предназначенные для использования предполагаемыми пользователями.
						</p>
						<p>Результатом обзорной проверки является заключение.</p>
						<h5>Налоговый аудит:</h5>
						<p>
							Независимая проверка систем бухгалтерского и налогового учета аудируемого лица на предмет правильности формирования налогооблагаемой базы по каждому виду налогов, исчисления и уплаты налогов и сборов за определенный период времени, состояния расчетов с бюджетом и внебюджетными фондами, соответствия систем бухгалтерского и налогового учета требованиям действующего законодательства Российской Федерации. Одним из важнейших результатов налогового аудита является оценка налоговых рисков аудируемого лица и подготовка профессиональных рекомендаций по исправлению обнаруженных ошибок.
						</p>
						<h6>
							Аудит системы внутреннего контроля:
						</h6>
						<p>
							Основная цель данной услуги – проверка системы внутреннего контроля, действующей у Клиента, и предоставление Клиенту объективной информации о ее недостатках.
						</p>
						<p>
							Полученная по результатам проведения аудита системы внутреннего контроля информация позволит Клиенту сделать выводы о проблемах, являющихся следствием недостатков системы внутреннего контроля, определению узких мест и недостатков системы контроля, влекущих потерю информации и риски злоупотреблений, в том числе с активами Клиента.
						</p>
						<h6>
							Прочие процедуры, проводимые в интересах Клиента:
						</h6>
						<p>
							помимо указанных выше, наиболее распространенных видов аудиторских услуг, «АудитКонсалтингГрупп» выполняет и другие индивидуальные задания Клиентов по выполнению согласованных процедур.
						</p>
						<p>
							Каждое техническое задание по выполнению согласованных процедур проходит детальное согласование с Клиентом и надлежащим образом документально оформляется.
						</p>
						<p>
							Заказчиком выполнения согласованных процедур может выступать как проверяемый хозяйствующий субъект, так и третья сторона, заинтересованная в получении результата оказания услуг.
						</p>
					</div>
					<!-- /.audit -->

				</div>
				<!-- /.container -->

				<div class="service-other">
					<div class="title">
						ДРУГИЕ ВИДЫ <span>УСГУГ</span>
					</div>
					<div class="container">
						<div class="service-other__row">
							<div class="service-other__item">
								<div class="service-other__counter">1</div>
								<div class="service-other__desc">
									<a href="#" class="service-other__link">Налоговая практика</a>
								</div>
							</div>
							<div class="service-other__item">
								<div class="service-other__counter">2</div>
								<div class="service-other__desc">
									<a href="#" class="service-other__link">Трудовая практика</a>
								</div>
							</div>
							<div class="service-other__item">
								<div class="service-other__counter">3</div>
								<div class="service-other__desc">
									<a href="#" class="service-other__link">Коммерческая практика</a>
								</div>
							</div>
							<div class="service-other__item">
								<div class="service-other__counter">4</div>
								<div class="service-other__desc">
									<a href="#" class="service-other__link">Бухгалтерский аутсорсинг</a>
								</div>
							</div>
							<div class="service-other__item">
								<div class="service-other__counter">5</div>
								<div class="service-other__desc">
									<a href="#" class="service-other__link">Корпоративная практика</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
