{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<div id="js-map" class="map" data-coords="55.709622,37.624885"></div>
				<!-- /#js-map.map -->
				<script type="text/javascript" src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
				<script type="text/javascript" src="js/map.js"></script>

				<div class="breadcrumbs">
					<a href="#" class="breadcrumbs__link">Главная</a>
					<span class="breadcrumbs__sep">/</span>
					<span class="breadcrumbs__text">Контакты</span>
				</div>
				<!-- /.breadcrumbs -->

				<div class="title">
					КОНТАКТЫ
				</diviii>

				<div class="container">

					<div class="contact">
						<div class="contact__desc">
							<div class="contact__title">Контактная информация</div>
							<div class="contact__text">
								Lorem ipsum dolor sit amet, conse adipisicing elit.Libero incidunt quod ab mollitia quia dolorum conse.
							</div>
							<div class="contact__text">
								<p>115191, г. Москва, Холодильный пер.,  д. 3, корп. 1, стр. 2, офис 2320 <br></p>
								<p>Телефон: <a href="tel:+74959552932">+7(495) 955-29-32</a>, <a href="tel:+74959552714">955-27-14</a> <br></p>
								<p>Факс: <a href="tel:+74959552894">+7(495) 955-28-94</a> <br></p>
								<p><b><a href="mailto:info@acgroupp.ru">info@acgroupp.ru</a></b></p>
							</div>
						</div>
						<!-- /.contact__desc -->
						<div class="contact__formblock">
							<form action="#" id="js-contact__formblock">
								<div class="contact__row">
									<div class="contact__col">
										<input type="text" class="contact__input" placeholder="Ваше имя">
									</div>
									<!-- /.contact__col -->
									<div class="contact__col">
										<input type="text" class="contact__input" placeholder="Ваш e-mail">
									</div>
									<!-- /.contact__col -->
								</div>
								<!-- /.contact__row -->
								<textarea name="" cols="" rows="" class="contact__msg"></textarea>
								<div class="contact__footer">
									<input type="submit" value="Отправить" class="contact__submit">
									<div class="contact__info">
										Нажимая кнопку “отправить”, вы соглашаетесь <a href="#">с правилами обработки персональных данных</a>
									</div>
								</div>
							</form>
						</div>
						<!-- /.contact__formblock -->
					</div>
					<!-- /.contact -->
				</div>
				<!-- /.container -->

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
