{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<ol>
					<li><a target="_blank" href="index.html">index.html</a></li>
					<br>
					<li><a target="_blank" href="workers.html">workers.html</a></li>
					<li><a target="_blank" href="about.html">about.html</a></li>
					<li><a target="_blank" href="audit.html">audit.html</a></li>
					<li><a target="_blank" href="contact.html">contact.html</a></li>
					<li><a target="_blank" href="main.html">main.html</a></li>
					<li><a target="_blank" href="news-detail.html">news-detail.html</a></li>
					<li><a target="_blank" href="news.html">news.html</a></li>
					<li><a target="_blank" href="portfolio.html">portfolio.html</a></li>
					<li><a target="_blank" href="uslugi.html">uslugi.html</a></li>
					<li><a target="_blank" href="reviews.html">reviews.html</a></li>
				</ol>

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}

</body>
</html>
