{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<div class="main-banner" style="background-image: url(img/banner-main-pic.jpg);">
					<div class="main-banner__inner">
						<div class="main-banner__titlesmall">ACGROUPP</div>
						<div class="main-banner__title">
							Независимость. <br>
							<span>Стабильность.</span> <br>
							<small>Успех.</small>
						</div>
						<!-- /.main-banner__title -->
						<div class="main-banner__desc">
							<div class="main-banner__text">
								Все партнеры компании являютсяее работниками. У нас нет сторонних учредителей, интересы которых могут повлиять на наши выводы и на результаты оказываемых нами услуг.
							</div>
							<!-- /.main-banner__text -->
						</div>
						<!-- /.main-banner__desc -->
					</div>
					<!-- /.main-banner__inner -->
				</div>
				<!-- /.main-banner -->


				<div class="service-main">
					<div class="container">
						<div class="service-main__row">
							<div class="service-main__item">
								<div class="service-main__counter">1</div>
								<div class="service-main__desc">
									<div class="service-main__name">ПЛАНИРОВАНИЕ</div>
									<div class="service-main__text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
									</div>
								</div>
							</div>
							<div class="service-main__item">
								<div class="service-main__counter">2</div>
								<div class="service-main__desc">
									<div class="service-main__name">Контроль</div>
									<div class="service-main__text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
									</div>
								</div>
							</div>
							<div class="service-main__item">
								<div class="service-main__counter">3</div>
								<div class="service-main__desc">
									<div class="service-main__name">Качество</div>
									<div class="service-main__text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="title">
					НАША <span>СПЕЦИАЛИЗАЦИЯ</span>
				</div>

				<div class="container">

					<div class="service">
						<div class="service__row">

							<div class="service__item">
								<div class="service__photo">
									<img src="{{src}}service__pic1.svg" alt="" class="service__pic">
								</div>
								<div class="service__desc">
									<a href="#" class="service__name">
										Ведение бухгалтерского учета
									</a>
									<div class="service__text">
										Практика показывает, что небольшие и средние компании, пользуясь услугами аутсорсинга бухгалтерского учета, могут получить ряд преимуществ: концентрация внимания руководства организации на основном бизнесе; снижение затрат на содержание бухгалтерии организации; фиксированные и предсказуемые расходы по аутсорсингу; уменьшение рисков за счет налаженной технологии учета, применения программных продуктов учета, качества услуг и ответственности организации-исполнителя.
									</div>
								</div>
							</div>
							<!-- /.service__item -->

							<div class="service__item">
								<div class="service__photo">
									<img src="{{src}}service__pic2.svg" alt="" class="service__pic">
								</div>
								<div class="service__desc">
									<a href="#" class="service__name">
										Представительство в судах
									</a>
									<div class="service__text">
										Практика показывает, что небольшие и средние компании, пользуясь услугами аутсорсинга бухгалтерского учета, могут получить ряд преимуществ: концентрация внимания руководства организации на основном бизнесе; снижение затрат на содержание бухгалтерии организации; фиксированные и предсказуемые расходы по аутсорсингу; уменьшение рисков за счет налаженной технологии учета, применения программных продуктов учета, качества услуг и ответственности организации-исполнителя.
									</div>
								</div>
							</div>
							<!-- /.service__item -->

							<div class="service__item">
								<div class="service__photo">
									<img src="{{src}}service__pic3.svg" alt="" class="service__pic">
								</div>
								<div class="service__desc">
									<a href="#" class="service__name">
										Консалтинг
									</a>
									<div class="service__text">
										Практика показывает, что небольшие и средние компании, пользуясь услугами аутсорсинга бухгалтерского учета, могут получить ряд преимуществ: концентрация внимания руководства организации на основном бизнесе; снижение затрат на содержание бухгалтерии организации; фиксированные и предсказуемые расходы по аутсорсингу; уменьшение рисков за счет налаженной технологии учета, применения программных продуктов учета, качества услуг и ответственности организации-исполнителя.
									</div>
								</div>
							</div>
							<!-- /.service__item -->

							<div class="service__item">
								<div class="service__photo">
									<img src="{{src}}service__pic4.svg" alt="" class="service__pic">
								</div>
								<div class="service__desc">
									<a href="#" class="service__name">
										Аудит
									</a>
									<div class="service__text">
										Практика показывает, что небольшие и средние компании, пользуясь услугами аутсорсинга бухгалтерского учета, могут получить ряд преимуществ: концентрация внимания руководства организации на основном бизнесе; снижение затрат на содержание бухгалтерии организации; фиксированные и предсказуемые расходы по аутсорсингу; уменьшение рисков за счет налаженной технологии учета, применения программных продуктов учета, качества услуг и ответственности организации-исполнителя.
									</div>
								</div>
							</div>
							<!-- /.service__item -->

						</div>
					</div>

				</div>
				<!-- /.container -->

				<div class="slider-clients">
					<div class="container">
						<div class="title">
							О НАС ГОВОРЯТ <span>КЛИЕНТЫ</span>
						</div>
						<div class="slider-clients__inner">

							<!-- Slider main container -->
							<div class="swiper-container" id="js-swiper-container">
							    <!-- Additional required wrapper -->
							    <div class="swiper-wrapper">
							        <!-- Slides -->
							        <div class="swiper-slide slider-clients__item js-slider-clients__item" data-text="<div class='reviews-popup'><div class='reviews-popup__text'>В своей работе мы стремимся добиться качественного улучшения параметров деятельности Клиентов, постоянно совершенствуя уровень и целевой характер наших услуг. Такой подход является для специалистов «АудитКонсалтингГрупп» важнейшим корпоративным принципом.</div><div class='reviews-popup__footer'><img src='img/reviews-slide__popup.png' alt='' class='reviews-popup__pic'><div class='reviews-popup__name'>Давыдов Олег Александрович</div><div class='reviews-popup__info'>Партнер компании</div></div></div>">

										<img src="{{src}}slider-clients__pic1.jpg" alt="" class="slider-clients__pic">

							        </div>
							        <div class="swiper-slide slider-clients__item js-slider-clients__item" data-text="<div class='reviews-popup'><div class='reviews-popup__text'>В своей работе мы стремимся добиться качественного улучшения параметров деятельности Клиентов, постоянно совершенствуя уровень и целевой характер наших услуг. Такой подход является для специалистов «АудитКонсалтингГрупп» важнейшим корпоративным принципом.</div><div class='reviews-popup__footer'><img src='img/reviews-slide__popup.png' alt='' class='reviews-popup__pic'><div class='reviews-popup__name'>Давыдов Олег Александрович</div><div class='reviews-popup__info'>Партнер компании</div></div></div>">

										<img src="{{src}}slider-clients__pic1.jpg" alt="" class="slider-clients__pic">

							        </div>
							        <div class="swiper-slide slider-clients__item js-slider-clients__item" data-text="<div class='reviews-popup'><div class='reviews-popup__text'>В своей работе мы стремимся добиться качественного улучшения параметров деятельности Клиентов, постоянно совершенствуя уровень и целевой характер наших услуг. Такой подход является для специалистов «АудитКонсалтингГрупп» важнейшим корпоративным принципом.</div><div class='reviews-popup__footer'><img src='img/reviews-slide__popup.png' alt='' class='reviews-popup__pic'><div class='reviews-popup__name'>Давыдов Олег Александрович</div><div class='reviews-popup__info'>Партнер компании</div></div></div>">

										<img src="{{src}}slider-clients__pic1.jpg" alt="" class="slider-clients__pic">

							        </div>
									<div class="swiper-slide slider-clients__item js-slider-clients__item" data-text="<div class='reviews-popup'><div class='reviews-popup__text'>В своей работе мы стремимся добиться качественного улучшения параметров деятельности Клиентов, постоянно совершенствуя уровень и целевой характер наших услуг. Такой подход является для специалистов «АудитКонсалтингГрупп» важнейшим корпоративным принципом.</div><div class='reviews-popup__footer'><img src='img/reviews-slide__popup.png' alt='' class='reviews-popup__pic'><div class='reviews-popup__name'>Давыдов Олег Александрович</div><div class='reviews-popup__info'>Партнер компании</div></div></div>">

										<img src="{{src}}slider-clients__pic1.jpg" alt="" class="slider-clients__pic">

							        </div>
							        <div class="swiper-slide slider-clients__item js-slider-clients__item" data-text="<div class='reviews-popup'><div class='reviews-popup__text'>В своей работе мы стремимся добиться качественного улучшения параметров деятельности Клиентов, постоянно совершенствуя уровень и целевой характер наших услуг. Такой подход является для специалистов «АудитКонсалтингГрупп» важнейшим корпоративным принципом.</div><div class='reviews-popup__footer'><img src='img/reviews-slide__popup.png' alt='' class='reviews-popup__pic'><div class='reviews-popup__name'>Давыдов Олег Александрович</div><div class='reviews-popup__info'>Партнер компании</div></div></div>">

										<img src="{{src}}slider-clients__pic1.jpg" alt="" class="slider-clients__pic">

							        </div>
							        <div class="swiper-slide slider-clients__item js-slider-clients__item" data-text="<div class='reviews-popup'><div class='reviews-popup__text'>В своей работе мы стремимся добиться качественного улучшения параметров деятельности Клиентов, постоянно совершенствуя уровень и целевой характер наших услуг. Такой подход является для специалистов «АудитКонсалтингГрупп» важнейшим корпоративным принципом.</div><div class='reviews-popup__footer'><img src='img/reviews-slide__popup.png' alt='' class='reviews-popup__pic'><div class='reviews-popup__name'>Давыдов Олег Александрович</div><div class='reviews-popup__info'>Партнер компании</div></div></div>">

										<img src="{{src}}slider-clients__pic1.jpg" alt="" class="slider-clients__pic">

							        </div>
							    </div>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev slider-clients__prev"></div>
								<div class="swiper-button-next slider-clients__next"></div>
								<!-- Add Pagination -->
								<div class="swiper-pagination"></div>

							</div>

 							<link rel="stylesheet" href="js/swiper/dist/css/swiper.css" type="text/css">
							<script src="js/swiper/dist/js/swiper.min.js" type="text/javascript"></script>

						</div>
					</div>
				</div>

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}

</body>
</html>
