{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<div class="banner-top">
					<picture>
						<source media="(max-width:768px)" srcset="img/img-bg@3x.jpg">
						<img src="img/banner-top-pic-2.jpg" alt="">
					</picture>
				</div>
				<!-- /.banner-top -->

				<div class="breadcrumbs">
					<a href="#" class="breadcrumbs__link">Главная</a>
					<span class="breadcrumbs__sep">/</span>
					<a href="#" class="breadcrumbs__link">Новости</a>
					<span class="breadcrumbs__sep">/</span>
					<span class="breadcrumbs__text">ООО "АудитКонсалтингГрупп" прошёл внешний контроль качества работ.</span>
				</div>
				<!-- /.breadcrumbs -->

				<div class="title">
					ООО "АудитКонсалтингГрупп" прошёл внешний контроль качества работ.
				</div>

				<div class="container">

					<div class="news-detail">
						<div class="news-detail__date">
							26.01.2011г.
						</div>
						<!-- /.news-detail__date -->
						<div class="news-detail__section">
							<img src="img/news-detail-pic.png" alt="" align="right">
							<p>
								В штате Компании работают аудиторы, юристы, экономисты, бухгалтеры и другие специалисты, в том числе имеющие квалификационные аттестаты по следующим направлениям: аудитор, налоговый консультант, внутренний аудитор, профессиональный бухгалтер, оценщик.
							</p>
							<p>
								Профессиональная (гражданская) ответственность Компании дополнительно застрахована в ЗАО САК «Информстрах», несмотря на то,что законодательством РФ не предусмотрено обязательного страхования ответственности аудиторов.
								Мы принимаем обязательство об ответственности по оказываемым услугам в порядке, определенном действующим законодательствомоб аудиторской деятельности и заключенным договором. Мы берем на себя обязательство по соблюдению коммерческой тайны Клиентов Компании.
								Мы обязательно уведомляем наших Клиентов, если нам стало известно, что область их интересов частично или полностью совпадаетс областью интересов потенциального Клиента, обратившегося к нам. При наличии прямого конфликта интересов это может послужить причиной отказа в сотрудничестве с нашей стороны.
							</p>
							<p>
								Привлекая нашу Компанию для решения задач в области аудиторских услуг, наши Клиенты получают гарантию полной конфиденциальности информации об их финансово-хозяйственной деятельности, в том числе и ее результатах, о бизнес-процессах, о конкурентных преимуществах и технологиях работы, а также иной информации, которая стала известна нам в процессе оказания услуг. Любые материалы, переданные намв процессе оказания услуг, а также устная информация, не выйдут не только за пределы Компании, но и не будут известны нашим сотрудникам,не принимавшим участие в проекте.
							</p>
							<p>
								В своей работе мы стремимся добиться качественного улучшения параметров деятельности Клиентов, постоянно совершенствуя уровеньи целевой характер наших услуг. Такой подход является для специалистов «АудитКонсалтингГрупп» важнейшим корпоративным принципом.
								Мы выражаем признательность всем нашим Партнерам и Клиентам, с которыми у нас сложились профессиональные и доверительные отношения! Мы открыты к сотрудничеству и будем рады оказаться Вам полезными!
							</p>
							<p>
								иной информации, которая стала известна нам в процессе оказания услуг. Любые материалы, переданные намв процессе оказания услуг, а также устная информация, не выйдут не только за пределы Компании, но и не будут известны нашим сотрудникам,не принимавшим участие в проекте.
							</p>
							<p>
								В своей работе мы стремимся добиться качественного улучшения параметров деятельности Клиентов, постоянно совершенствуя уровеньи целевой характер наших услуг. Такой подход является для специалистов «АудитКонсалтингГрупп» важнейшим корпоративным принципом.
								Мы выражаем признательность всем нашим Партнерам и Клиентам, с которыми у нас сложились профессиональные и доверительные отношения! Мы открыты к сотрудничеству и будем рады оказаться Вам полезными!
							</p>
							<h2>Налоговый аудит:</h2>
							<p>
								Независимая проверка систем бухгалтерского и налогового учета аудируемого лица на предмет правильности формирования налогооблагаемой базы по каждому виду налогов, исчисления и уплаты налогов и сборов за определенный период времени, состояния расчетов с бюджетом и внебюджетными фондами, соответствия систем бухгалтерского и налогового учета требованиям действующего законодательства Российской Федерации. Одним из важнейших результатов налогового аудита является оценка налоговых рисков аудируемого лица и подготовка профессиональных рекомендаций по исправлению обнаруженных ошибок.
							</p>
							<h3>Аудит системы внутреннего контроля:</h3>
							<p>
								Основная цель данной услуги – проверка системы внутреннего контроля, действующей у Клиента, и предоставление Клиенту объективной информации о ее недостатках.
							</p>
							<p>
								Полученная по результатам проведения аудита системы внутреннего контроля информация позволит Клиенту сделать выводы о проблемах, являющихся следствием недостатков системы внутреннего контроля, определению узких мест и недостатков системы контроля, влекущих потерю информации и риски злоупотреблений, в том числе с активами Клиента.
							</p>
						</div>
						<!-- /.news-detail__section -->
						<div class="news-detail__footer">
							<img src="{{src}}social.png" alt="">
						</div>
						<!-- /.news-detail__footer -->
					</div>
					<!-- /.news-detail -->

				</div>
				<!-- /.container -->

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
