{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<div class="banner-top">
					<picture>
						<source media="(max-width:768px)" srcset="img/img-bg@3x.jpg">
						<img src="img/banner-top-pic-2.jpg" alt="">
					</picture>
				</div>
				<!-- /.banner-top -->

				<div class="breadcrumbs">
					<a href="#" class="breadcrumbs__link">Главная</a>
					<span class="breadcrumbs__sep">/</span>
					<span class="breadcrumbs__text">Новости</span>
				</div>
				<!-- /.breadcrumbs -->

				<div class="title">
					НОВОСТИ
				</div>

				<div class="container">

					<div class="news">

						<div class="news__row">
							<div class="news__item news__item_line">
								<div class="news__photo">
									<a href="#" class="news__link">
										<img src="{{src}}news-list__pic.png" alt="" class="news__pic">
									</a>
								</div>
								<!-- /.news__photo -->
								<div class="news__desc">
									<a href="#" class="news__name">
										В ООО "АудитКонсалтингГрупп" прошёл внешний контроль качества работ.
									</a>
									<div class="news__date">
										26.01.2011г.
									</div>
									<!-- /.news__date -->
									<div class="news__text">
										<p>
											По результатам плановой выездной проверки, проведенной Саморегулируемой Организацией Аудиторов Некоммерческим Партнёрством "Институт Профессиональных Аудиторов" (НП "ИПАР"), нашей компанией получен высший балл.В подтверждение чего ООО "АудитКонсалтингГрупп" выдан Сертификат качества аудиторских услуг № 273, удостоверяющий, что мы оказываем аудиторские услуги на  высоком профессиональном уровне и внедрённая нами и поддерживаемая на регулярной основе внутрифирменная система гарантии качества соответствует общероссийским правилам (стандартам) аудиторской деятельности, действует эффективно и достаточна для достижения целей в отношении гарантии качества и сдерживания риска.
										</p>
										<p>Срок действия Сертификата с 26.01.2011г. по 26.01.2014г.</p>
									</div>
									<!-- /.news__text -->
								</div>
							</div>
							<!-- /.news__item -->
							<div class="news__item">
								<div class="news__photo">
									<a href="#" class="news__link">
										<img src="{{src}}news__pic1.jpg" alt="" class="news__pic">
									</a>
								</div>
								<!-- /.news__photo -->
								<div class="news__desc">
									<a href="#" class="news__name">
										Застрахована ответственностьООО «АудитКонсалтингГрупп»
									</a>
									<div class="news__date">
										23.12.2010г.
									</div>
									<!-- /.news__date -->
									<div class="news__text">
										<p>
											ОАО "АльфаСтрахование" застрахована ответственность ООО "АудитКонсалтингГрупп" за нарушение договора оказания аудиторских услуг и (или) ответственность за причинение вреда имуществу других лиц в результате осуществления аудиторской деятельности.
										</p>
										<p>Страховая сумма 5.000.000,00 рублей.</p>
									</div>
									<!-- /.news__text -->
								</div>
							</div>
							<!-- /.news__item -->
							<div class="news__item">
								<div class="news__photo">
									<a href=#"" class="news__link">
										<img src="{{src}}news__pic2.jpg" alt="" class="news__pic">
									</a>
								</div>
								<!-- /.news__photo -->
								<div class="news__desc">
									<a href="#" class="news__name">
										№ 307- Федеральный закон«Об аудиторской деятельности»
									</a>
									<div class="news__date">
										01.01.2010г.
									</div>
									<!-- /.news__date -->
									<div class="news__text">
										<p>
											В связи с вступлением с 1 января 2010г. в силу ряда статей Федерального закона от 30 декабря 2008г. № 307-ФЗ «Об аудиторской деятельности» (далее – Федеральный закон «Об аудиторской деятельности»):
										</p>
										<ul>
											<li>с 1 января 2010г. прекращено лицензирование аудиторской деятельности;</li>
											<li>c 1 января 2010г. аудиторскую деятельность, т.е. деятельностьпо проведению аудита и оказанию сопутствующих аудиту услуг,вправе осуществлять исключительно аудиторские организациии индивидуальные аудиторы.</li>
										</ul>
										<p>
											Аудиторская организация – коммерческая организация, являющаяся членом одной из саморегулируемых организаций аудиторов.
										</p>
									</div>
									<!-- /.news__text -->
								</div>
							</div>
							<!-- /.news__item -->
							<div class="news__item">
								<div class="news__photo">
									<a href="#" class="news__link">
										<img src="{{src}}news__pic2.jpg" alt="" class="news__pic">
									</a>
								</div>
								<!-- /.news__photo -->
								<div class="news__desc">
									<a href="#" class="news__name">
										ООО «АудитКонсалтингГрупп» в полном объеме соответствует требованиям законодательства РФ
									</a>
									<div class="news__date">
										23.12.2010г.
									</div>
									<!-- /.news__date -->
									<div class="news__text">
										<p>
											ООО «АудитКонсалтингГрупп» в полном объеме соответствует требованиям законодательства РФ, предъявляемым к аудиторским организациям с 01.01.2010г., и внесено в Реестр аудиторов и аудиторских организаций за регистрационным № 10702016008. Сведенияиз контрольного экземпляра реестра аудиторов и аудиторских организаций саморегулируемых организаций аудиторов опубликованы <a href="#">на официальном сайте Минфина России.</a>
										</p>
									</div>
									<!-- /.news__text -->
								</div>
							</div>
							<!-- /.news__item -->
							<div class="news__item">
								<div class="news__photo">
									<a href=#"" class="news__link">
										<img src="{{src}}news__pic2.jpg" alt="" class="news__pic">
									</a>
								</div>
								<!-- /.news__photo -->
								<div class="news__desc">
									<a href="#" class="news__name">
										Некоммерческое партнерство«Институт профессиональных аудиторов»
									</a>
									<div class="news__date">
										01.01.2010г.
									</div>
									<!-- /.news__date -->
									<div class="news__text">
										<p>
											ООО «АудитКонсалтингГрупп» вступило в саморегулируемую организацию аудиторов Некоммерческое партнерство «Институт профессиональных аудиторов» (СРОА НП "ИПАР") (<a href="#">http://www.e-ipar.ru/</a>).
										</p>
										<p>
											Приказом Минфина России от 30 октября 2009г. № 514 Некоммерческое партнерство «Институт Профессиональных Аудиторов» внесено государственный в реестр саморегулируемых организаций аудиторов.
										</p>
									</div>
									<!-- /.news__text -->
								</div>
							</div>
							<!-- /.news__item -->
						</div>
						<!-- /.news__row -->
					</div>
					<!-- /.news -->

				</div>
				<!-- /.container -->

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
