{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<div class="banner-gallery">

					<div class="breadcrumbs">
						<a href="#" class="breadcrumbs__link">Главная</a>
						<span class="breadcrumbs__sep">/</span>
						<span class="breadcrumbs__text">Портфолио</span>
					</div>
					<!-- /.breadcrumbs -->

					<div class="banner-gallery__inner">
						<div class="banner-gallery__section">

							<!-- Slider main container -->
							<div class="swiper-container" id="js-swiper-container2">
								<!-- Additional required wrapper -->
								<div class="swiper-wrapper">
									<!-- Slides -->
									<div class="swiper-slide">

										<div class="banner-gallery__item" style="background-image: url(img/banner-gallery__item.jpg);">

											<div class="banner-gallery__desc">
												<div class="banner-gallery__title">
													Кейс компании рога и копыта
												</div>
												<!-- /.banner-gallery__title -->
												<div class="banner-gallery__text">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
												</div>
												<!-- /.banner-gallery__text -->
												<a href="" class="banner-gallery__button">Скачать кейс</a>
											</div>

										</div>
										<!-- /.banner-gallery__item -->

									</div>
									<!-- /.swiper-slide -->
									<div class="swiper-slide">

										<div class="banner-gallery__item" style="background-image: url(img/banner-gallery__item.jpg);">

											<div class="banner-gallery__desc">
												<div class="banner-gallery__title">
													Кейс компании рога и копыта
												</div>
												<!-- /.banner-gallery__title -->
												<div class="banner-gallery__text">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
												</div>
												<!-- /.banner-gallery__text -->
												<a href="" class="banner-gallery__button">Скачать кейс</a>
											</div>

										</div>
										<!-- /.banner-gallery__item -->

									</div>
									<!-- /.swiper-slide -->
									<div class="swiper-slide">

										<div class="banner-gallery__item" style="background-image: url(img/banner-gallery__item.jpg);">

											<div class="banner-gallery__desc">
												<div class="banner-gallery__title">
													Кейс компании рога и копыта
												</div>
												<!-- /.banner-gallery__title -->
												<div class="banner-gallery__text">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
												</div>
												<!-- /.banner-gallery__text -->
												<a href="" class="banner-gallery__button">Скачать кейс</a>
											</div>

										</div>
										<!-- /.banner-gallery__item -->

									</div>
									<!-- /.swiper-slide -->
								</div>

								<!-- If we need navigation buttons -->
								<div class="banner-gallery__footer">
									<div class="swiper-button-prev banner-gallery__prev"></div>
									<div class="swiper-button-next banner-gallery__next"></div>
								</div>

							</div>

						</div>
						<!-- /.banner-gallery__section -->
					</div>
					<!-- /.banner-gallery__inner -->
				</div>
				<!-- /.banner-gallery -->

				<link rel="stylesheet" href="js/swiper/dist/css/swiper.css" type="text/css">
				<script src="js/swiper/dist/js/swiper.min.js" type="text/javascript"></script>

				<div class="about-text about-text_portfolio">
					<div class="container">

						<div class="about-text__toptext">
							Описание дела
						</div>
						<div class="about-text__section">
							<p>
								В штате Компании работают аудиторы, юристы, экономисты, бухгалтеры и другие специалисты, в том числе имеющие квалификационные аттестаты по следующим направлениям: аудитор, налоговый консультант, внутренний аудитор, профессиональный бухгалтер, оценщик.
							</p>
							<p>
								Профессиональная (гражданская) ответственность Компании дополнительно застрахована в ЗАО САК «Информстрах», несмотря на то,что законодательством РФ не предусмотрено обязательного страхования ответственности аудиторов.
							</p>
							<p>
								Мы принимаем обязательство об ответственности по оказываемым услугам в порядке, определенном действующим законодательствомоб аудиторской деятельности и заключенным договором. Мы берем на себя обязательство по соблюдению коммерческой тайны Клиентов Компании.
							</p>
						</div>
						<!-- /.about-text__section -->

					</div>
					<!-- /.container -->
				</div>
				<!-- /.about-text -->

				<div class="about-info about-info_portfolio">
					<div class="container">
						<div class="about-info__toptext">
							<b>Результат</b>
							<p>
								В штате Компании работают аудиторы, юристы, экономисты, бухгалтеры и другие специалисты, в том числе имеющие квалификационные аттестаты по следующим направлениям: аудитор, налоговый консультант, внутренний аудитор, профессиональный бухгалтер, оценщик.
							</p>
							<p>
								Профессиональная (гражданская) ответственность Компании дополнительно застрахована в ЗАО САК «Информстрах»:
							</p>
						</div>
						<div class="about-info__row">
							<div class="about-info__item">
								<div class="about-info__counter">1</div>
								<div class="about-info__desc">
									непосредственно проведение аудиторских проверок (обязательных и инициативных)
								</div>
							</div>
							<div class="about-info__item">
								<div class="about-info__counter">2</div>
								<div class="about-info__desc">
									аудит ФГУП (МУП) в соответствии с требованиями законодательства РФ
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="reviews">
					<div class="container">
						<div class="title">
							ОТЗЫВ <span>КЛИЕНТА</span>
						</div>
						<div class="reviews__section">
							<div class="reviews__text">
								В своей работе мы стремимся добиться качественного улучшения параметров деятельности Клиентов, постоянно совершенствуя уровень и целевой характер наших услуг. Такой подход является для специалистов «АудитКонсалтингГрупп» важнейшим корпоративным принципом.
							</div>
							<div class="reviews__footer">
								<img src="img/reviews-slide__popup.png" alt="" class="reviews__pic">
								<div class="reviews__name">Давыдов Олег Александрович</div>
								<div class="reviews__info">Партнер компании</div>
							</div>
						</div>
					</div>
					<!-- /.container -->

					<div class="container">
						<div class="title">
							БЛАГОДАРНОСТИ
						</div>
						<!-- /.title -->
						<div class="portfolio-info">
							<div class="portfolio-info__row">
								<div class="portfolio-info__col">
									<div class="portfolio-info__item">
										<a href="{{src}}bfb.png" class="portfolio-info__link" data-fancybox="group">
											<img src="{{src}}bfb.png" alt="" class="portfolio-info__pic">
										</a>
									</div>
								</div>
								<div class="portfolio-info__col">
									<div class="portfolio-info__item">
										<a href="{{src}}bfb.png" class="portfolio-info__link" data-fancybox="group">
											<img src="{{src}}bfb.png" alt="" class="portfolio-info__pic">
										</a>
									</div>
								</div>
								<div class="portfolio-info__col">
									<div class="portfolio-info__item">
										<a href="{{src}}bfb.png" class="portfolio-info__link" data-fancybox="group">
											<img src="{{src}}bfb.png" alt="" class="portfolio-info__pic">
										</a>
									</div>
								</div>
								<div class="portfolio-info__col">
									<div class="portfolio-info__item">
										<a href="{{src}}bfb.png" class="portfolio-info__link" data-fancybox="group">
											<img src="{{src}}bfb.png" alt="" class="portfolio-info__pic">
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.reviews -->

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
