{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<div class="banner-top">
					<picture>
						<source media="(max-width:768px)" srcset="img/img-bg@3x.jpg">
						<img src="img/banner-top-pic-2.jpg" alt="">
					</picture>
				</div>
				<!-- /.banner-top -->

				<div class="breadcrumbs">
					<a href="#" class="breadcrumbs__link">Главная</a>
					<span class="breadcrumbs__sep">/</span>
					<span class="breadcrumbs__text">Отвызы</span>
				</div>
				<!-- /.breadcrumbs -->

				<div class="reviews-container">
					<div class="container">
						<div class="title">
							ОТЗЫВЫ
						</div>
						<div class="reviews-container__inner">

							<!-- Slider main container -->
							<div class="swiper-container" id="js-swiper-container-reviews">
							    <!-- Additional required wrapper -->
							    <div class="swiper-wrapper">
							        <!-- Slides -->
							        <div class="swiper-slide reviews-container__item">

										<div class="reviews-container__block">
											<div class="reviews-container__text">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, hic voluptate incidunt fugiat architecto doloremque! Repudiandae neque numquam itaque illo voluptate debitis a magnam, maxime perferendis dicta animi voluptatem in?
											</div>
											<div class="reviews-container__name">
												Название компании
											</div>
											<div class="reviews-container__human">
												<span>
													Иван Иваныч
												</span>
												Должность
											</div>
											<div class="reviews-container__photo">
												<a href="{{src}}slider-clients__pic1.jpg" class="reviews-container__link" data-fancybox>
													<img src="{{src}}slider-clients__pic1.jpg" alt="" class="reviews-container__pic">
												</a>
											</div>
										</div>

							        </div>
							        <!-- Slides -->
							        <div class="swiper-slide reviews-container__item">

										<div class="reviews-container__block">
											<div class="reviews-container__text">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, hic voluptate incidunt fugiat architecto doloremque! Repudiandae neque numquam itaque illo voluptate debitis a magnam, maxime perferendis dicta animi voluptatem in?
											</div>
											<div class="reviews-container__name">
												Название компании
											</div>
											<div class="reviews-container__human">
												<span>
													Иван Иваныч
												</span>
												Должность
											</div>
											<div class="reviews-container__photo">
												<a href="{{src}}slider-clients__pic1.jpg" class="reviews-container__link" data-fancybox>
													<img src="{{src}}slider-clients__pic1.jpg" alt="" class="reviews-container__pic">
												</a>
											</div>
										</div>

							        </div>
							        <!-- Slides -->
							        <div class="swiper-slide reviews-container__item">

										<div class="reviews-container__block">
											<div class="reviews-container__text">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, hic voluptate incidunt fugiat architecto doloremque! Repudiandae neque numquam itaque illo voluptate debitis a magnam, maxime perferendis dicta animi voluptatem in?
											</div>
											<div class="reviews-container__name">
												Название компании
											</div>
											<div class="reviews-container__human">
												<span>
													Иван Иваныч
												</span>
												Должность
											</div>
											<div class="reviews-container__photo">
												<a href="{{src}}slider-clients__pic1.jpg" class="reviews-container__link" data-fancybox>
													<img src="{{src}}slider-clients__pic1.jpg" alt="" class="reviews-container__pic">
												</a>
											</div>
										</div>

							        </div>
							        <!-- Slides -->
							        <div class="swiper-slide reviews-container__item">

										<div class="reviews-container__block">
											<div class="reviews-container__text">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, hic voluptate incidunt fugiat architecto doloremque! Repudiandae neque numquam itaque illo voluptate debitis a magnam, maxime perferendis dicta animi voluptatem in?
											</div>
											<div class="reviews-container__name">
												Название компании
											</div>
											<div class="reviews-container__human">
												<span>
													Иван Иваныч
												</span>
												Должность
											</div>
											<div class="reviews-container__photo">
												<a href="{{src}}slider-clients__pic1.jpg" class="reviews-container__link" data-fancybox>
													<img src="{{src}}slider-clients__pic1.jpg" alt="" class="reviews-container__pic">
												</a>
											</div>
										</div>

							        </div>
							    </div>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev reviews-container__prev"></div>
								<div class="swiper-button-next reviews-container__next"></div>
								<!-- Add Pagination -->
								<div class="swiper-pagination"></div>

							</div>

 							<link rel="stylesheet" href="js/swiper/dist/css/swiper.css" type="text/css">
							<script src="js/swiper/dist/js/swiper.min.js" type="text/javascript"></script>

						</div>
					</div>
				</div>

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
