{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->

				<div class="banner-top">
					<picture>
						<source media="(max-width:768px)" srcset="img/img-bg@3x.jpg">
						<img src="img/banner-top-pic-2.jpg" alt="">
					</picture>
				</div>
				<!-- /.banner-top -->

				<div class="breadcrumbs">
					<a href="#" class="breadcrumbs__link">Главная</a>
					<span class="breadcrumbs__sep">/</span>
					<span class="breadcrumbs__text">Новости</span>
				</div>
				<!-- /.breadcrumbs -->

				<div class="title">
					НАШИ <span>УСЛУГИ</span>
				</div>

				<div class="container">

					<div class="service">
						<div class="service__row">

							<div class="service__item">
								<div class="service__photo">
									<img src="{{src}}service__pic1.svg" alt="" class="service__pic">
								</div>
								<div class="service__desc">
									<a href="#" class="service__name">
										Ведение бухгалтерского учета
									</a>
									<div class="service__text">
										Практика показывает, что небольшие и средние компании, пользуясь услугами аутсорсинга бухгалтерского учета, могут получить ряд преимуществ: концентрация внимания руководства организации на основном бизнесе; снижение затрат на содержание бухгалтерии организации; фиксированные и предсказуемые расходы по аутсорсингу; уменьшение рисков за счет налаженной технологии учета, применения программных продуктов учета, качества услуг и ответственности организации-исполнителя.
									</div>
								</div>
							</div>
							<!-- /.service__item -->

							<div class="service__item">
								<div class="service__photo">
									<img src="{{src}}service__pic2.svg" alt="" class="service__pic">
								</div>
								<div class="service__desc">
									<a href="#" class="service__name">
										Представительство в судах
									</a>
									<div class="service__text">
										Практика показывает, что небольшие и средние компании, пользуясь услугами аутсорсинга бухгалтерского учета, могут получить ряд преимуществ: концентрация внимания руководства организации на основном бизнесе; снижение затрат на содержание бухгалтерии организации; фиксированные и предсказуемые расходы по аутсорсингу; уменьшение рисков за счет налаженной технологии учета, применения программных продуктов учета, качества услуг и ответственности организации-исполнителя.
									</div>
								</div>
							</div>
							<!-- /.service__item -->

							<div class="service__item">
								<div class="service__photo">
									<img src="{{src}}service__pic3.svg" alt="" class="service__pic">
								</div>
								<div class="service__desc">
									<a href="#" class="service__name">
										Консалтинг
									</a>
									<div class="service__text">
										Практика показывает, что небольшие и средние компании, пользуясь услугами аутсорсинга бухгалтерского учета, могут получить ряд преимуществ: концентрация внимания руководства организации на основном бизнесе; снижение затрат на содержание бухгалтерии организации; фиксированные и предсказуемые расходы по аутсорсингу; уменьшение рисков за счет налаженной технологии учета, применения программных продуктов учета, качества услуг и ответственности организации-исполнителя.
									</div>
								</div>
							</div>
							<!-- /.service__item -->

							<div class="service__item">
								<div class="service__photo">
									<img src="{{src}}service__pic4.svg" alt="" class="service__pic">
								</div>
								<div class="service__desc">
									<a href="#" class="service__name">
										Аудит
									</a>
									<div class="service__text">
										Практика показывает, что небольшие и средние компании, пользуясь услугами аутсорсинга бухгалтерского учета, могут получить ряд преимуществ: концентрация внимания руководства организации на основном бизнесе; снижение затрат на содержание бухгалтерии организации; фиксированные и предсказуемые расходы по аутсорсингу; уменьшение рисков за счет налаженной технологии учета, применения программных продуктов учета, качества услуг и ответственности организации-исполнителя.
									</div>
								</div>
							</div>
							<!-- /.service__item -->

							<div class="service__item">
								<div class="service__photo">
									<img src="{{src}}service__pic5.svg" alt="" class="service__pic">
								</div>
								<div class="service__desc">
									<a href="#" class="service__name">
										Трудовая практика
									</a>
									<div class="service__text">
										Практика показывает, что небольшие и средние компании, пользуясь услугами аутсорсинга бухгалтерского учета, могут получить ряд преимуществ: концентрация внимания руководства организации на основном бизнесе; снижение затрат на содержание бухгалтерии организации; фиксированные и предсказуемые расходы по аутсорсингу; уменьшение рисков за счет налаженной технологии учета, применения программных продуктов учета, качества услуг и ответственности организации-исполнителя.
									</div>
								</div>
							</div>
							<!-- /.service__item -->

							<div class="service__item">
								<div class="service__photo">
									<img src="{{src}}service__pic6.svg" alt="" class="service__pic">
								</div>
								<div class="service__desc">
									<a href="#" class="service__name">
										Налоговая практика
									</a>
									<div class="service__text">
										Практика показывает, что небольшие и средние компании, пользуясь услугами аутсорсинга бухгалтерского учета, могут получить ряд преимуществ: концентрация внимания руководства организации на основном бизнесе; снижение затрат на содержание бухгалтерии организации; фиксированные и предсказуемые расходы по аутсорсингу; уменьшение рисков за счет налаженной технологии учета, применения программных продуктов учета, качества услуг и ответственности организации-исполнителя.
									</div>
								</div>
							</div>
							<!-- /.service__item -->

						</div>
					</div>

				</div>
				<!-- /.container -->

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
