{% include 'head/head.html' %}

<body>

<div id="js-menu-out"></div>
<!-- /.js-menu-out -->

{% include 'header/global/header.html' %}

<div class="wrapper" id="js-wrapper">

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->


				<div class="breadcrumbs-background">
					<div class="breadcrumbs">
						<a href="#" class="breadcrumbs__link">О компании</a>
					</div>
					<!-- /.breadcrumbs -->
				</div>

				<div class="workers">
					<div class="container">
						<div class="workers__row">
							<div class="workers__col">
								<div class="workers__photo">
									<img src="{{src}}workers.jpg" alt="" class="workers__pic">
									<a href="#" class="workers__link">СВЯЗАТЬСЯ</a>
									<!-- /.workers__link -->
								</div>
								<!-- /.workers__photo -->
							</div>
							<!-- /.workers__col -->
							<div class="workers__col">
								<div class="workers__desc">
									<div class="workers__title">Ушакова Татьяна Олеговна</div>
									<!-- /.workers__title -->
									<p>
										Одна из основателей и Партнёр Группы, генеральный директорООО «АудитКонсалтингГрупп».
									</p>
									<p>
										Дипломированный инженер (Московский энергетический институт)и экономист (Московский экономико-статистический институт), аттестованный аудитор с 1996 года, налоговый консультант и оценщик.
									</p>
									<p>
										Татьяна Олеговна принимала активное участие в становлении саморегулирования аудиторской деятельности в России, а также в практике внешнего контроля качества аудиторской деятельности.
									</p>
									<p>
										В 2001-2016 г.г. она являлась членом Контрольного комитета НП «Институт профессиональных аудиторов» (ИПАР), а также членом Совета НП «ИПАР».
										В настоящее время Ушакова Т.О. является членом саморегулируемой организации аудиторов Ассоциация «Содружество» (СРО ААС), членом Совета Московского территориального отделения СРО ААС, членом Палаты налоговых консультантов.
									</p>
									<p>
										Компетенции: осуществляет руководство наиболее значимыми проектами. Специализируется на аудите, вопросах налогообложения, внутреннем контроле качества за выполнением заданий.
									</p>
									<p>
										Свою профессиональную деятельность Татьяна Олеговна начинала, работая руководителем бухгалтерии в различных компаниях.
									</p>
									<p>
										С 1995 года работала аудитором, ведущим аудитором, а затеми заместителем руководителя в одной из крупнейших аудиторских группв России.
									</p>
								</div>
								<!-- /.workers__desc -->
							</div>
							<!-- /.workers__col -->
						</div>
						<!-- /.workers__row -->
					</div>
					<!-- /.container -->
				</div>
				<!-- /.workers -->

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
