.container {
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px;
	padding: 0 15px;

	.about-banner &,
	.about-info &,
	.about-text & {
		max-width: 1030px;
	}

	.service-main & {
		max-width: 1130px;
	}
	@media (--tablet) {
		padding: 0 25px;
	}
	@media (--phone) {
		padding: 0 15px;
	}
}