@font-face {
	font-family: HelveticaNeueCyr;
	src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Thin.otf");
	font-weight: 200;
}
@font-face {
	font-family: HelveticaNeueCyr;
	src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Light.otf");
	font-weight: 300;
}
@font-face {
	font-family: HelveticaNeueCyr;
	src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Roman.otf");
	font-weight: 400;
}
@font-face {
	font-family: HelveticaNeueCyr;
	src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Medium.otf");
	font-weight: 500;
}
@font-face {
	font-family: HelveticaNeueCyr;
	src: url("fonts/HelveticaNeue/HelveticaNeueCyr-Bold.otf");
	font-weight: bold;
}