@media (--tablet) {
	.slideout-menu {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 280px;
		min-height: 100vh;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		z-index: 0;
		display: none;
	}

	.slideout-menu-left {
		left: 0;
	}

	.slideout-menu-right {
		right: 0;
	}

	.slideout-panel {
		position: relative;
		z-index: 1;
		will-change: transform;
		background-color: #FFF;
		/* A background-color is required */
		min-height: 100vh;
	}

	.slideout-open,
	.slideout-open .slideout-panel,
	.slideout-open body {
		overflow: hidden;
	}

	.slideout-open .slideout-menu {
		display: block;
	}
}
@media (--phone) {
	.slideout-menu {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 280px;
		min-height: 100vh;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		z-index: 0;
		display: none;
	}

	.slideout-menu-left {
		left: 0;
	}

	.slideout-menu-right {
		right: 0;
	}

	.slideout-panel {
		position: relative;
		z-index: 1;
		will-change: transform;
		background-color: #FFF;
		/* A background-color is required */
		min-height: 100vh;
	}

	.slideout-open,
	.slideout-open .slideout-panel,
	.slideout-open body {
		overflow: hidden;
	}

	.slideout-open .slideout-menu {
		display: block;
	}
}