.about-info {
	background-color: $dark-grey-blue;
	padding: 65px 0 60px;
	margin-bottom: 70px;

	&_portfolio {
		font-size: 18px;
		line-height: 28px;
	}

	&__title {
		font-size: 22px;
		font-weight: 300;
		line-height: 1.64;
		letter-spacing: 0.9px;
		text-align: center;
		color: $white;
		margin: 0 auto 70px;
		text-align: center;
		max-width: 700px;
	}

	&__toptext {
		color: #fff;
		margin-bottom: 70px;

		b {
			display: block;
			margin-bottom: 30px;
			font-weight: bold;
		}
	}

	&__row {
		font-size: 0;
		margin: 0 -80px;
	}

	&__item {
		padding: 0 80px;
		display: inline-block;
		width: 50%;
		vertical-align: top;
		margin-bottom: 24px;
	}

	&__counter {
		width: 49px;
		height: 49px;
		border: 2px solid $lipstick;
		border-radius: 50%;
		display: inline-block;
		margin-right: 22px;
		vertical-align: top;
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 0.8px;
		text-align: center;
		color: $white;
		line-height: 49px;
	}

	&__desc {
		display: inline-flex;
		align-items: center;
		min-height: 49px;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.43;
		letter-spacing: 0.6px;
		text-align: left;
		color: $white-60;
		width: calc(100% - 80px);
	}

	&__link {
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 0.8px;
		text-align: left;
		color: $dark-grey-blue;
		text-decoration: underline;
	}

	&_portfolio {
		margin-bottom: 0;
	}
	@media (--tablet) {
		&__row {
			margin: 0 -5px;
		}

		&__item {
			padding: 0 5px;
			margin-bottom: 20px;
		}
	}
	@media (--phone) {
		padding: 30px 0;
		margin-bottom: 44px;

		&__title {
			font-size: 16px;
		}

		&__row {
			margin-top: -20px;
		}

		&__item {
			width: 100%;
			margin-bottom: 22px;
		}

		&__counter,
		&__desc {
			vertical-align: top;
		}

		&__desc {
			padding-top: 5px;
		}

		&__link {
			font-size: 16px;
		}

		&_portfolio {
			margin-bottom: 0;
		}

		&__toptext {
			margin-bottom: 30px;
		}

		&_portfolio &__row {
			margin-top: 0;
		}
	}
}