.about-banner {
	padding: 34px 0 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	&__section {
		padding-top: 20px;
	}

	&__title {
		font-size: 24px;
		font-weight: 300;
		line-height: 2.83;
		letter-spacing: 1px;
		text-align: left;
		color: $white;
		margin-bottom: 35px;
	}

	&__toptext {
		font-size: 22px;
		font-weight: 300;
		line-height: 1.64;
		letter-spacing: 0.9px;
		text-align: left;
		color: rgb(255, 254, 254);
		margin-bottom: 35px;
	}

	&__line {
		margin: 0 auto 35px;
		width: 378px;
		height: 1px;
		background-color: $lipstick;
	}

	&__bottomtext {
		font-size: 22px;
		font-weight: 300;
		line-height: 1.64;
		letter-spacing: 0.9px;
		color: $white;

		a {
			color: $white;
		}
	}
	@media (--tablet) {
		padding-top: 28px;
		padding-bottom: 70px;

		&__section {
			padding-top: 55px;
		}

		&__line {
		}
	}
	@media (--phone) {
		padding-top: 25px;
		padding-bottom: 15px;
		position: relative;

		&:before {
			content: '';
			background-image: linear-gradient(to top, rgba(49, 45, 86, 1), rgba(0, 0, 0, 0));
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 80%;
		}

		&__section {
			padding-top: 45px;
			position: relative;
		}

		&__title {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 25px;
			font-weight: 300;
		}

		&__toptext {
			font-size: 16px;
			letter-spacing: 0.6px;
			line-height: 22px;
			margin-bottom: 25px;
		}

		&__line {
			margin-bottom: 25px;
			width: calc(50% + 15px);
		}

		&__bottomtext {
			font-size: 16px;
			letter-spacing: 0.6px;
			line-height: 22px;
		}
	}
}
