.about-text {
	margin-bottom: 70px;

	&__toptext {
		color: $dark-grey-blue;
		margin-bottom: 25px;
		font-weight: bold;
	}

	&_portfolio {
		font-size: 16px;
		line-height: 26px;
	}

	&__section {
		margin-bottom: 60px;
	}

	&__footer {
		text-align: center;

		&-name {
			font-size: 16px;
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: 0.6px;
			text-align: center;
			color: $dark-grey-blue;
		}

		&-info {
			font-size: 13px;
			font-weight: 300;
			line-height: 1.38;
			letter-spacing: 0.5px;
			color: $lipstick;
		}
	}

	&__pic {
		display: inline-block;
		margin: 0 15px 10px;
	}

	&_portfolio {
		margin-bottom: 40px;
	}

	&_portfolio &__toptext {
		margin-bottom: 35px;
	}
	@media (--phone) {
		margin-bottom: 50px;

		&__toptext {
			margin-bottom: 30px;
		}

		&__section {
			margin-bottom: 30px;
		}

		&_portfolio {
			margin-bottom: 40px;
		}

		&_portfolio &__toptext {
			margin-bottom: 20px;
		}
	}
}