.audit {
	margin-bottom: 40px;

	&__toptext {
		font-size: 14px;
		font-weight: bold;
		line-height: 1.43;
		letter-spacing: 0.6px;
		text-align: center;
		color: $dark-grey-blue;
		margin-bottom: 40px;
		text-align: center;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5;
		letter-spacing: 0.8px;
		text-align: left;
		color: $black;
		margin-bottom: 1rem;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			position: relative;
			padding-left: 30px;
			margin-bottom: 15px;

			&:before {
				content: '';
				position: absolute;
				left: 10px;
				top: 6px;
				width: 7px;
				height: 7px;
				background: $lipstick;
			}
		}
	}
	@media (--tablet) {
		margin-top: -20px;

		&__toptext {
			text-align: left;
			margin-bottom: 25px;
		}
	}
	@media (--phone) {
		margin-top: -20px;

		&__toptext {
			text-align: left;
			margin-bottom: 20px;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 16px;
		}
	}
}