.banner-top {
	margin-bottom: 30px;

	picture {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		width: 100%;
	}

	@media (--tablet) {
		margin-bottom: 23px;
	}

	@media (--phone) {
		margin-bottom: 15px;
	}	
}