.banner-gallery {
	position: relative;
	margin-bottom: 40px;

	.swiper-container {
		padding-bottom: 0;
	}

	.breadcrumbs {
		position: absolute;
		top: 34px;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 2;
	}

	&__inner {}

	&__section {}

	&__item {
		height: 620px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		display: flex;
		align-items: center;
	}

	&__desc {
		max-width: 1030px;
		padding: 0 25px;
		margin: 0 auto;
	}

	&__title {
		font-size: 30px;
		font-weight: 300;
		line-height: 32px;
		letter-spacing: 1.2px;
		text-align: left;
		color: $white;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 22px;
		font-weight: 300;
		line-height: 1.64;
		letter-spacing: 0.9px;
		text-align: left;
		color: #fffefe;
		margin-bottom: 40px;
	}

	&__button {
		width: 194px;
		height: 45px;
		background-color: $lipstick;
		text-decoration: none;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.6px;
		text-align: center;
		color: $white;
		line-height: 45px;
		display: block;

		&:hover {
			text-decoration: none;
		}
	}

	&__prev {
		left: 4.5% !important;
	}

	&__next {
		right: 4.5% !important;
	}

	&__prev,
	&__next {

		.arrows & {
			border: 1px solid $lipstick;
			border-radius: 50%;
			background-color: transparent;
		}
	}
	@media (--tablet) {
		&__item {}

		&__text {
			font-size: 20px;
			font-weight: 300;
			line-height: 1.5;
			letter-spacing: 0.8px;
		}

		&__prev {
			right: 128px !important;
			bottom: 58px;
			top: auto !important;
			margin-top: 0 !important;
			left: auto !important;
			display: block !important;
		}

		&__next {
			right: 25px !important;
			bottom: 58px;
			top: auto !important;
			margin-top: 0 !important;
			display: block !important;
		}
	}
	@media (--phone) {
		.swiper-slide {
			box-sizing: content-box;
		}

		&__item {
			padding: 90px 15px 85px;
			height: auto;
		}

		&__desc {
			padding-left: 0;
			padding-right: 0;
		}

		&__title {
			font-size: 18px;
			font-weight: 300;
			letter-spacing: 0.7px;
			text-align: left;
			color: $white;
			margin-bottom: 15px;
		}

		&__text {
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 0.6px;
			text-align: left;
		}

		&__button {
			max-width: 290px;
			width: 100%;
			margin: 0 auto;
		}

		&__footer {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 30px;
			text-align: center;
			z-index: 1;
		}

		&__next,
		&__prev {
			margin: 0 12px !important;
			display: inline-block !important;
			position: static !important;
			width: 30px !important;
			height: 30px !important;
			background-size: 9px auto !important;

			.arrows & {
				position: absolute !important;
				bottom: 25px !important;
				top: auto;
			}
		}

		&__prev {

			.arrows & {
				left: 30% !important;
			}
		}

		&__next {

			.arrows & {
				right: 30% !important;
			}
		}
	}
}