.callback {
    padding: 30px;
    max-width: 615px;

    &__row {
        margin: 0 -15px;
        @include clearfix;
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 0.8px;
        text-align: center;
        color: $dark-grey-blue;
        margin-bottom: 25px;
    }

    &__col {
        padding: 0 15px;
        float: left;
        width: 50%;
    }

    &__input {
        display: block;
        margin-bottom: 30px;
        width: 100%;
        height: 49px;
        background: none;
        padding: 0 20px;
        color: rgba(0, 0, 0, .2);
        border: 1px solid rgba(0, 0, 0, .2);

        &:focus {
            color: rgba(0, 0, 0, 1);
            border: 1px solid rgba(0, 0, 0, 1);
        }

    }

    &__msg {
        display: block;
        margin-bottom: 30px;
        width: 100%;
        height: 170px;
        background: none;
        border: 1px solid rgba(0, 0, 0, .2);
        padding: 10px 20px;
        color: rgba(0, 0, 0, .2);

        &:focus {
            color: rgba(0, 0, 0, 1);
            border: 1px solid rgba(0, 0, 0, 1);
        }

    }

    &__submit {
        display: inline-block;
        width: 194px;
        height: 45px;
        mix-blend-mode: undefined;
        background-color: $lipstick;
        margin-right: 23px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        line-height: 45px;
        border: none;
        cursor: pointer;
    }

    &__info {
        width: calc(100% - 240px);
        font-size: 12px;
        font-weight: 300;
        line-height: 1.67;
        letter-spacing: 0.5px;
        text-align: left;
        color: $black;
        display: inline-block;
        vertical-align: middle;
    }

    @media (--tablet) {
        &__col {
            width: 100%;
        }

        &__input {
            margin-bottom: 15px;
        }

        &__msg {
            margin-bottom: 35px;
        }

        &__footer {
            display: flex;
            flex-direction: column-reverse;
        }

        &__info {
            width: 100%;
            margin-bottom: 15px;
        }

    }

    @media (--phone) {
        &__col {
            width: 100%;
        }

        &__input {
            margin-bottom: 15px;
        }

        &__msg {
            height: 133px;
            margin-bottom: 35px;
        }

        &__footer {
            display: flex;
            flex-direction: column-reverse;
        }

        &__info {
            width: 100%;
            margin-bottom: 15px;
        }

        &__submit {
            width: 100%;
        }

    }

}
