.footer-subscribe {
	width: 340px;
	height: 40px;
	background-color: rgb(39, 35, 71);
	position: relative;
	display: inline-block;
	vertical-align: middle;

	&__form {}

	&__input {
		font-size: 14px;
		font-weight: 300;
		text-align: left;
		color: $white--30;
		padding: 0 50px 0 30px;
		height: 40px;
		border: none;
		background: none;
		width: 100%;
	}

	&__submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		border: none;
		background: url("footer-subscribe-submit.svg") no-repeat 65% 65%;
		height: 40px;
		cursor: pointer;
	}
	@media (--tablet) {
		border: 1px solid $lipstick;
		display: block;
		margin: 0 auto;
	}
	@media (--tablet) {}
	@media (--phone) {
		border: 1px solid $lipstick;
		display: block;
		width: 100%;
	}
}