.footer-social {
	float: right;
	margin-right: 125px;

	&__item {
		width: 39px;
		height: 39px;
		display: inline-block;
		position: relative;
		border-radius: 50%;
		opacity: .22;

		&:hover {
			background-color: $lipstick;
			opacity: 1;
			box-shadow: 0px 10px 20px 0 rgba(226, 30, 35, 0.4);
		}
	}

	@media (--tablet) {
		float: right;
		margin-right: 0;
	}	

	@media (--phone) {
		position: absolute;
		bottom: 25px;
		left: 0;
		right: 0;
		text-align: center;
		margin: 0;
	}
}