.header-info {
	float: right;
	line-height: 1;
	width: 410px;
	padding-top: 4px;

	&__callback {
		width: 194px;
		height: 45px;
		background-color: $lipstick;
		text-decoration: none;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.6px;
		text-align: center;
		color: $white;
		line-height: 45px;
		float: right;
		margin-top: 3px;
	}

	&__field {
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.6px;
		text-align: left;
		color: $dark-grey-blue;
		padding-top: 6px;
	}

	&__link {
		color: $dark-grey-blue;
		display: inline-block;
		padding: 0 0 0 25px;

		&_phone {
			background: url(https://icongr.am/fontawesome/phone.svg?size=16&color=b1b3b3) no-repeat left center;
		}

		&_email {
			background: url(https://icongr.am/fontawesome/paper-plane.svg?size=14&color=b1b3b3) no-repeat left center;
		}
	}

	@media (--tablet) {
		margin-right: 79px;
		width: 58%;

		&__link {
			background: none !important;
			padding: 0;
		}
	}

	@media (--phone) {
		width: calc(100% - 100px);
		text-align: center;
		padding: 0 60px 0 0;

		&__link {
			background: none !important;
			padding: 0;
		}

		&__callback {
			display: none;
		}

		&__field {
			text-align: center;
		}
	}
}