.icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	&_facebook {
		background: url(https://icongr.am/fontawesome/facebook.svg?size=18&color=ffffff) no-repeat center center; 
	}

	&_twitter {
		background: url(https://icongr.am/fontawesome/twitter.svg?size=18&color=ffffff) no-repeat center center; 
	}
}
