.main-banner {
	padding: 155px 25px 99px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&__inner {
		max-width: 1100px;
		margin: 0 auto;
		@include clearfix;
	}

	&__titlesmall {
		font-size: 24px;
		font-weight: 300;
		letter-spacing: 1px;
		text-align: left;
		color: $dark-grey-blue;
		margin-bottom: 20px;
	}

	&__title {
		font-size: 60px;
		font-weight: 300;
		line-height: 1.13;
		letter-spacing: 2.4px;
		text-align: left;
		color: $lipstick;
		display: inline-block;

		span {
			color: $warm-grey;
			font-size: 100%;
		}

		small {
			color: $dark-grey-blue;
			font-size: 100%;
			position: relative;
			display: inline-block;

			&:after {
				content: '';
				width: 50%;
				height: 1px;
				background-color: $lipstick;
				display: block;
				margin: 0 auto;
				position: relative;
				top: 15px;
			}
		}
	}

	&__desc {
		margin-left: 662px;
	}

	&__text {
		font-size: 20px; 
		font-weight: 300;
		line-height: 1.64;
		letter-spacing: 0.9px;
		text-align: left;
		color: $white;
		max-width: 500px;
		position: relative;
	}
	@media (--tablet) {
		padding: 125px 25px 204px;

		&__titlesmall {
			margin-bottom: 10px;
		}

		&__title {
			font-size: 50px;
			font-weight: 300;
			line-height: 1.36;
			margin-bottom: 35px;

			&:after {
				width: 100%;
			}
		}

		&__desc {
			margin-left: 558px;
		}

		&__text {

		}
	}
	@media (--phone) {
		padding: 45px 15px;
		position: relative;

		&:before {
			content: '';
			background-image: linear-gradient(to top, rgba(49, 45, 86, .6), rgba(0, 0, 0, 0));
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 80%;
		}

		&__inner {
			position: relative;
		}

		&__titlesmall {
			font-size: 18px;
			margin-bottom: 10px;
		}

		&__title {
			font-size: 24px;
			font-weight: 300;
			line-height: 1.1;
			margin-bottom: 34px;

			&:after {
				width: 100%;
			}
		}

		&__desc {
			margin-left: 0;
		}

		&__text {
			font-size: 16px;
			font-weight: 300;
			line-height: 1.44;
			letter-spacing: 0.6px;
			text-align: left;
			color: $white;
			max-width: 100%;
		}
	}
}
