.news-detail {
	margin-top: -35px;
	margin-bottom: 50px;

	&__date {
		font-size: 12px;
		font-weight: bold;
		line-height: 1.67;
		letter-spacing: 0.5px;
		text-align: center;
		color: $dark-grey-blue;
		margin-bottom: 15px;
	}

	&__section {
		margin-bottom: 50px;

		img {
			 
		}
	}

	h1, h2, h3, h4, h5, h6, &__title {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5; 
		letter-spacing: 0.8px;
		text-align: left;
		color: $black;
	}	

	&__footer {
		text-align: center;

		img {
			max-width: 100%;
		} 
	}

	@media (--phone) {

		&__section {
			
			img {
				width: 100%;
			}
		}
	}
}