.news {
	&__row {
		font-size: 0;
		margin: 0 -65px;
	}

	&__item {
		padding: 0 65px;
		width: 100%;
		display: flex;
		margin-bottom: 75px;
		vertical-align: top;
	}

	&__photo {
		padding-right: 24px;
		min-width: 30%;
	}

	&__link {
		display: block;
		text-decoration: none;
	}

	&__pic {
		display: block;
		max-width: 100%;
	}

	&__name {
		font-size: 20px;
		font-weight: bold;
		line-height: 1.5;
		letter-spacing: 0.8px;
		text-align: left;
		color: $black;
		display: inline-block;
		margin-bottom: 20px;

		&:hover {
			color: $dark-grey-blue;
		}
	}

	&__date {
		font-size: 12px;
		font-weight: bold;
		line-height: 1.67;
		letter-spacing: 0.5px;
		text-align: left;
		color: $lipstick;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.43;
		letter-spacing: 0.6px;
		text-align: left;
		color: $black;

		ul {
			list-style: none;
			margin: 0 0 1rem;
			padding: 0;

			li {
				padding: 0 0 0 20px;
				position: relative;
				margin-bottom: 1rem;

				&:before {
					position: absolute;
					left: 5px;
					top: 8px;
					width: 4px;
					height: 4px;
					background-color: $lipstick;
					content: '';
				}
			}
		}
	}
	@media (--tablet) {
		&__row {
			margin: 0 -35px;
		}

		&__item {
			padding: 0 35px;
		}
	}
	@media (--phone) {
		&__row {
			margin: 0;
		}

		&__item {
			width: 100%;
			padding: 0;
			margin-bottom: 45px;
			flex-direction: column;
		}

		&__desc {
			margin: 0;
		}

		&__photo {
			float: none;
			padding: 0;
			width: 100%;
			margin: 0 0 15px;
		}

		&__pic {
			display: block;
			margin: 0 auto;
		}

		&__name {
			font-size: 16px;
			font-weight: bold;
			line-height: 1.5;
			letter-spacing: 0.6px;
			text-align: left;
			margin-bottom: 13px;
		}

		&__date {
			margin-bottom: 20px;
		}
	}
}
