.partners-list {
	text-align: center;
	margin-bottom: 20px;
	margin-top: -25px;

	&__item {
		text-align: center;
		display: inline-block;
		vertical-align: top;
		margin: 0 20px 30px;
		max-width: 220px;
	}

	&__link {
		text-decoration: none;
		color: $dark-grey-blue;
	}

	&__pic {
		display: block;
		max-width: 100%;
		margin: 0 auto 15px;
		border-radius: 5px;
	}

	&__name {
		text-decoration: none;
		font-size: 16px;
		font-weight: bold;
		display: block;
		max-width: 90%;
		margin: 0 auto;
	}

}
