.portfolio-info {
	max-width: 947px;
	margin: 0 auto 40px;

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px;
	}

	&__col {
		width: 25%;
		padding: 0 10px;
	}

	&__item {
		max-width: 224px;
		margin: 0 auto 30px;
	}

	&__link {
		text-decoration: none;
	}

	&__pic {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	@media (max-width: 1000px) {

		&__row {
			flex-wrap: wrap
		}

		&__col {
			width: 50%;
		}
	}
}