.response {
	max-width: 380px;
	padding: 30px;
	background: #fff;
	border-top: 3px solid $dark-grey-blue;

	&__inner {
		text-align: center;
	}

	&__title {
		margin-bottom: 25px;
		font-size: 16px;
		font-weight: bold;
	}

	&__text {
		margin-bottom: 30px;
	}

	&__button {
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.6px;
		width: 100%;
		max-width: 194px;
		height: 45px;
		background-color: #e21e23;
		text-decoration: none;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 0 auto;
	}
}