.reviews-popup {
	border-top: 3px solid $dark-grey-blue;
	padding: 40px 45px;
	text-align: center;
	position: relative;

	&:before {
		background: svg-load('quote.svg', fill=dedfdf) no-repeat;
		left: 20px;
		top: 20px;
		width: 23px;
		height: 18px;
		opacity: 0.1;
		content: '';
		position: absolute;
	}

	&__text {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.5;
		letter-spacing: 0.6px;
		text-align: center;
		color: $black;
		text-align: center;
		margin-bottom: 30px;
	}

	img {
		max-width: 100%;
	}

	&__footer {}

	&__pic {
		display: block;
		margin: 0 auto 10px;
	}

	&__name {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.6px;
		text-align: center;
		color: $dark-grey-blue;
	}

	&__info {
		font-size: 13px;
		font-weight: 300;
		line-height: 1.38;
		letter-spacing: 0.5px;
		color: $lipstick;
	}
}