.reviews-container {
	padding: 60px 0 110px;
	background-color: rgb(246, 247, 248);

	&__inner {
		position: relative;

		&:before {
			position: absolute;
			left: -1px;
			top: -1px;
			bottom: -1px;
			width: 81px;
			background: rgb(246, 247, 248);
			content: '';
			z-index: 2;
		}

		&:after {
			position: absolute;
			right: -1px;
			top: -1px;
			bottom: -1px;
			width: 81px;
			background: rgb(246, 247, 248);
			content: '';
			z-index: 2;
		}

		.swiper-container {
			padding: 0 80px;
			position: static;
		}

		.swiper-pagination {
			display: none;
		}
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		display: flex;
	}

	&__item {
		min-width: 100%;
	}

	&__block {
		padding: 65px 65px 40px;
		text-align: center;
		position: relative;
		background: #fff;
		max-width: 947px;
		margin: 0 auto;

		&:before {
			background: svg-load('quote.svg', fill=dedfdf) no-repeat;
			left: 20px;
			top: 20px;
			width: 23px;
			height: 18px;
			opacity: 0.1;
			content: '';
			position: absolute;
		}
	}

	&__pic {
		margin: 0 auto;
		display: block;
		max-width: 90%;
	}

	&__text {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 24px;

		ul {
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
			list-style: none;
		}
	}

	&__name {
		color: $lipstick;
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__human {
		color: $lipstick;
		margin-bottom: 20px;

		span {
			display: block;
			color: $dark-grey-blue;
			font-weight: bold;
		}
	}

	&__photo {
		max-width: 400px;
		margin: 0 auto;
	}

	&__link {
		display: block;
	}

	&__next,
	&__prev {
		z-index: 2;
	}
	@media (--tablet) {
		&__inner {
			margin: 0 20px;

			&:after,
			&:before {
				display: none;
			}

			.swiper-container {
				padding: 0;
			}
		}

		&__block {
			padding-left: 34px;
			padding-right: 34px;
		}

		.swiper-pagination {
			position: static;
			margin: 20px auto;
			transform: none;
			display: block;
		}
	}
	@media (--phone) {
		padding: 30px 0;

		&__inner {
			margin: -20px 0 0;

			&:after,
			&:before {
				display: none;
			}

			.swiper-container {
				padding: 0;
			}
		}

		&__block {
			padding: 35px 30px;
			margin: 0 -15px;

			&:before {
				display: none;
			}
		}

		.swiper-pagination {
			position: static;
			margin: 20px auto;
			transform: none !important;
			display: block;
		}
	}
}