.reviews {
	background-color: #f6f7f8;
	padding: 65px 0;

	&__section {
		padding: 65px 65px 40px;
		text-align: center;
		position: relative;
		background: #fff;
		max-width: 947px;
		margin: 0 auto 85px;

		&:before {
			background: svg-load('quote.svg', fill=dedfdf) no-repeat;
			left: 20px;
			top: 20px;
			width: 23px;
			height: 18px;
			opacity: 0.1;
			content: '';
			position: absolute;
		}
	}

	&__text {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.5;
		letter-spacing: 0.6px;
		text-align: center;
		color: $black;
		text-align: center;
		margin-bottom: 30px;
	}

	&__footer {}

	&__pic {
		display: block;
		margin: 0 auto 10px;
	}

	&__name {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.6px;
		text-align: center;
		color: $dark-grey-blue;
	}

	&__info {
		font-size: 13px;
		font-weight: 300;
		line-height: 1.38;
		letter-spacing: 0.5px;
		color: $lipstick;
	}
	@media (--tablet) {
		padding: 52px 0;

		&__section {
			padding-left: 34px;
			padding-right: 34px;
		}
	}
	@media (--phone) {
		padding: 30px 0 25px;

		.title {
			margin-bottom: 28px;
		}

		&__section {
			padding: 35px 30px;
			margin: 0 -15px 30px;

			&:before {
				display: none;
			}
		}

		&__text {
			font-size: 12px;
			font-weight: 300;
			line-height: 1.5;
			letter-spacing: 0.5px;
			margin-bottom: 20px;
		}
	}
}