.scroll-up {
	float: right;
	cursor: pointer;
	margin-top: 7px;

	&__text {
		font-size: 14px;
		text-align: right;
		color: $white;
		
		&:after {
			display: inline-block;
			height: 8px;
			width: 8px;
			border-top: 2px solid $lipstick;
			border-right: 2px solid $lipstick;
			transform: rotate(-45deg);
			content: '';
			margin-left: 10px;
			position: relative;
			top: 2px;
		}
	}

	@media (--tablet) {
		display: none;
	}
	
	@media (--phone) {
		display: none;
	}		
}