.service-other {
	background: #f6f7f8;
	padding: 65px 0 60px;

	&__row {
		font-size: 0;
		margin: 0 -80px;
	}

	&__item {
		padding: 0 80px;
		display: inline-block;
		width: 50%;
		vertical-align: top;
		margin-bottom: 24px;
	}

	&__counter {
		width: 49px;
		height: 49px;
		border: 2px solid $lipstick;
		border-radius: 50%;
		display: inline-block;
		margin-right: 22px;
		vertical-align: middle;
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 0.8px;
		text-align: center;
		color: $dark-grey-blue;
		line-height: 49px;
	}

	&__desc {
		display: inline-block;
		vertical-align: middle;
	}

	&__link {
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 0.8px;
		text-align: left;
		color: $dark-grey-blue;
		text-decoration: underline;
	}
	@media (--tablet) {
		&__row {
			margin: 0 -5px;
		}

		&__item {
			padding: 0 5px;
			margin-bottom: 20px;
		}
	}
	@media (--phone) {
		padding: 30px 0;

		&__row {
			margin-top: -20px;
		}

		&__item {
			width: 100%;
			margin-bottom: 12px;
		}

		&__link {
			font-size: 16px;
		}
	}
}