.service {
	margin-bottom: 60px;

	&__row {
		font-size: 0;
		margin: 0 -30px;
	}

	&__item {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding: 0 30px;
		margin-bottom: 60px;
	}

	&__photo {
		width: 66px;
		float: left;
	}

	&__pic {
		display: block;
		max-width: 45px;
	}

	&__desc {
		margin-left: 66px;
	}

	&__name {
		padding-top: 5px;
		font-size: 20px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: 0.8px;
		text-align: left;
		color: $black;
		display: inline-block;
		margin-bottom: 30px;

		&:hover {
			color: $dark-grey-blue;
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.43;
		letter-spacing: 0.6px;
		text-align: left;
		color: $black;
	}
	@media (--tablet) {
		&__row {
			margin: 0 -25px;
		}

		&__item {
			padding: 0 25px;
			margin-bottom: 55px;
		}

		&__photo {
			float: none;
			width: 100%;
			height: 60px;
		}

		&__desc {
			margin-left: 0;
		}

		&__name {
			padding-top: 0;
		}
	}
	@media (--phone) {
		&__row {
			margin: 0 -25px;
		}

		&__item {
			padding: 0 25px;
			width: 100%;
			margin-bottom: 30px;
		}

		&__name {
			padding-top: 0;
			font-size: 16px;
			line-height: 1.25;
			letter-spacing: 0.6px;
			display: block;
			padding: 10px 0 0;
			margin-left: 55px;
			margin-bottom: 20px;
		}

		&__photo {
			width: 55px;
			margin-bottom: 10px;
		}

		&__desc {
			margin-left: 0;
		}

		&__text {
			clear: both;
		}
	}
}