.service-main {
	background-color: $dark-grey-blue;
	padding: 75px 0 90px;
	margin-bottom: 100px;

	&__row {
		font-size: 0;
		margin: 0 -20px;
	}

	&__item {
		padding: 0 20px;
		display: inline-block;
		width: calc(100% / 3);
		vertical-align: top;
	}

	&__counter {
		width: 49px;
		height: 49px;
		border: 2px solid $lipstick;
		border-radius: 50%;
		display: inline-block;
		margin-right: 22px;
		vertical-align: top;
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 0.8px;
		text-align: center;
		color: $white;
		line-height: 49px;
	}

	&__desc {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 80px);
		padding-top: 10px;
	}

	&__name {
		font-size: 16px;
		font-weight: bold;
		line-height: 1.25;
		letter-spacing: 0.6px;
		text-align: left;
		color: $white;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.43;
		letter-spacing: 0.6px;
		text-align: left;
		color: $white-60;
	}
	@media (--tablet) {
		padding: 55px 55px 25px;
		margin-bottom: 40px;

		&__item {
			width: 100%;
			margin-bottom: 30px;
		}

		&__counter,
		&__desc {
			padding-top: 0;
			vertical-align: top;
		}
	}
	@media (--phone) {
		padding: 55px 0 35px;
		margin-bottom: 35px;

		&__item {
			width: 100%;
			margin-bottom: 20px;
		}

		&__counter,
		&__desc {
			padding-top: 0;
			vertical-align: top;
		}
	}
}