.slider-clients {
	padding: 60px 0 110px;
	background-color: rgb(246, 247, 248);

	&__inner {
		position: relative;

		&:before {
			position: absolute;
			left: -1px;
			top: -1px;
			bottom: -1px;
			width: 81px;
			background: rgb(246, 247, 248);
			content: '';
			z-index: 2;
		}

		&:after {
			position: absolute;
			right: -1px;
			top: -1px;
			bottom: -1px;
			width: 81px;
			background: rgb(246, 247, 248);
			content: '';
			z-index: 2;
		}

		.swiper-container {
			padding: 0 80px;
			position: static;
		}

		.swiper-pagination {
			display: none;
		}
		
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		display: flex;
	}

	&__item {
		min-width: calc(100% / 3);
		cursor: pointer;
	}

	&__pic {
		margin: 0 auto;
		display: block;
		max-width: 90%;
	}

	&__prev,
	&__next {
		// background-color: #e21e23 !important;
		z-index: 2;
	}

	&__prev {
		// background-image: svg-load('slider-clients__prev.svg', fill=#f6f7f8) no-repeat #e21e23 !important;
	}

	&__next {
		// background-image: svg-load('slider-clients__next.svg', fill=#f6f7f8) !important;
	}

	@media (--tablet) {

		&__inner {
			margin: 0 20px;

			&:before,
			&:after {
				display: none;
			}

			.swiper-container {
				padding: 0;
			}
			
		}

		.swiper-pagination {
			position: static;
			margin: 20px auto;
			transform: none;
			display: block;
		}
	}
	@media (--phone) {
		padding: 30px 0;

		&__inner {
			margin: -20px 0 0;

			&:before,
			&:after {
				display: none;
			}

			.swiper-container {
				padding: 0;
			}			
		}

		.swiper-pagination {
			position: static;
			margin: 20px auto;
			transform: none !important;
			display: block;
		}
	}
}