.title {
	max-width: 1170px;
	font-size: 36px;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: 1.4;
	text-align: center;
	color: $lipstick;
	margin: 0 auto 55px;
	text-align: center;
	padding: 0 15px;

	span {
		color: $dark-grey-blue;
	}
	@media (--phone) {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 40px;
	}
}