.tooltip {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	line-height: 1;
	right: 0;
	top: 0;
	z-index: 1000;
	max-width: 550px;
	transform: scale(0);
	transition: transform 200ms, opacity 200ms;

	&.active {
		pointer-events: auto;
		opacity: 1;
		transform: scale(1);
	}

	&__arrow {
		position: absolute;
		z-index: 1;

		&_left {
			top: 50%;
			margin-top: -12px;
			left: -12px;
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			border-right: 12px solid $white;
		}

		&_right {
			top: 50%;
			margin-top: -12px;
			right: -12px;
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			border-left: 12px solid $white;
		}

		&_top {
			right: 50%;
			margin-right: -12px;
			top: -12px;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 12px solid $white;
		}

		&_bottom {
			right: 50%;
			margin-right: -12px;
			bottom: -12px;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 12px solid $white;
		}
	}

	&__section {
		background-color: $white;
		box-shadow: 0 7px 29px 0 rgba(49, 45, 86, 0.04);
		position: relative;
	}

	&__close {
		z-index: 2;
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		cursor: pointer;

		&:after,
		&:before {
			opacity: 0.4;
			content: '';
			position: absolute;
			left: 0;
			width: 16px;
			height: 2px;
			background: #000;
			margin-top: -1px;
			top: 50%;
			left: 50%;
			margin-left: -8px;
			transform-origin: 50% 50%;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}

	&__text {}
}