.workers {
	max-width: 1000px;
	margin: 0 auto 50px;

	&__row {
		display: flex;
		margin: 0 -15px;
	}

	&__col {
		padding: 0 15px;

		&:first-child {
			width: 40%;
		}

		&:last-child {
			width: 60%;
		}
	}

	&__photo {
		margin-bottom: 30px;
	}

	&__pic {
		display: block;
		max-width: 390px;
		width: 100%;
		margin: 0 0 20px;
	}

	&__link {
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		color: #fff;
		background: #e21e23;
		width: 100%;
		text-decoration: none;
		max-width: 390px;
		width: 100%;
	}

	&__desc {
		padding-left: 40px;
	}

	&__title {
		margin-bottom: 30px;
		color: #312d56;
		font-size: 30px;
		text-transform: uppercase;
	}
	@media (max-width: 600px) {
		&__row {
			flex-direction: column;
		}

		&__col {
			width: 100% !important;
		}

		&__link,
		&__pic {
			margin-left: auto;
			margin-right: auto;
		}

		&__desc {
			padding-left: 0;
		}
	}
}