.breadcrumbs {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.6px;
	text-align: center;
	color: $dark-grey-blue;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto 40px;
	display: none;

	.breadcrumbs-background & {
		margin-bottom: 0;
		color: $white;
	}

	&__link {
		color: $dark-grey-blue;
	}

	&__sep {
		margin: 0 5px;
		color: $lipstick;
	}

	&__text {
	}

	.about-banner &,
	.about-banner &__link,
	.banner-gallery &,
	.banner-gallery &__link,
	.breadcrumbs-background &__link {
		color: $white;
	}

	.breadcrumbs-background &__link {
		text-decoration: underline;
	}

	@media (--tablet) {
		margin-bottom: 27px;
	}

	@media (--phone) {
		margin-bottom: 15px;
	}

}
