<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Главная</a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">Новости</span>
</div>
<!-- /.breadcrumbs -->