<div class="callback">
	<div class="callback__title">Консультация специалиста</div>
	<!-- /.callback__title -->
	<form action="#" id="js-callback__formblock">
		<div class="callback__row">
			<div class="callback__col">
				<input type="text" class="callback__input" placeholder="Ваше имя">
			</div>
			<!-- /.callback__col -->
			<div class="callback__col">
				<input type="text" class="callback__input" placeholder="Ваш e-mail">
			</div>
			<!-- /.callback__col -->
		</div>
		<!-- /.callback__row -->
		<textarea name="" cols="" rows="" class="callback__msg"></textarea>
		<div class="callback__footer">
			<input type="submit" value="Отправить" class="callback__submit">
			<div class="callback__info">
				Нажимая кнопку “отправить”, вы соглашаетесь <a href="#">с правилами обработки персональных данных</a>
			</div>
		</div>
	</form>
</div>
<!-- /.callback -->