<div class="response">
	<div class="response__inner">
		<div class="response__title">
			Спасибо за обращение!
		</div>
		<div class="response__text">
			В ближайшее время наши специалисты<br>рассмотрят заявку и свяжутся с вами.
		</div>
		<a href="#" class="response__button js-response__button">ОК</a>
	</div>
</div>
