.logo {
	float: left;
	margin-right: 49px;

	&__link {
		text-decoration: none;
		display: block;
	}

	&__pic {
		display: block;
		height: 65px;
	}

	@media (--phone) {
		margin-right: 0;

		&__pic {
			height: 41px;
		}
	}
}
