<div class="pagination">
	<a href="#" class="pagination__prev"></a>
	<a href="#" class="pagination__item">1</a>
	<a href="#" class="pagination__item">2</a>
	<a href="#" class="pagination__item">3</a>
	<a href="#" class="pagination__more">...</a>
	<a href="#" class="pagination__item">17</a>
	<a href="#" class="pagination__next"></a>
</div>
<!-- /.pagination -->