.pagination {
	display: flex;
	align-items: center;
	margin-bottom: 80px;

	&__prev {
		margin-right: 10px;
		width: 49px;
		height: 49px;
		border: 1px solid rgb(0, 83, 167);
		border-radius: 50%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		&:after {
			content: '';
			border-left: 2px solid rgb(0, 83, 167);
			border-bottom: 2px solid rgb(0, 83, 167);
			display: block;
			width: 10px;
			height: 10px;
			margin: 0 -3px 0 0;
			transform: rotate(45deg)
		}

	}

	&__item {
		width: 49px;
		height: 49px;
		border: 1px solid rgb(0, 83, 167);
		border-radius: 50%;
		margin-right: 10px;
		font-family: Webnar;
		font-size: 16px;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: rgb(0, 83, 167);
	}

	&__more {
		margin-right: 10px;
	}

	&__next {
		width: 49px;
		height: 49px;
		border: 1px solid rgb(0, 83, 167);
		border-radius: 50%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		&:after {
			content: '';
			border-top: 2px solid rgb(0, 83, 167);
			border-right: 2px solid rgb(0, 83, 167);
			display: block;
			width: 10px;
			height: 10px;
			margin: 0 0 0 -3px;
			transform: rotate(45deg)
		}

	}

}
